<template>
  <section>
    <div class="inline-wrapper search">
      <label for="search">Найти:</label>
      <input id="search" type="text" size="50" placeholder="От 2-х символов." v-model="search" @keyup="onSearchKeyUp">
    </div>
    <div class="clients-list">
      <section class="short-client" v-for="(client, index) in clients" v-show="client.isVisible" :key="index">
        <header class="item-header client-title">
          <a :href="route('client.show', routeParams(client))" class="btn-link client-name">{{ client.name }}</a>
          <menu-horiz :items="clientMenuItems(client)"></menu-horiz>
        </header>
        <main class="item-content">
          <div v-if="client.note" class="client-note">
            <label>Примечание:</label>
            <div v-html="client.note"></div>
          </div>
          <div class="inline-wrapper">
            <label>Доступен:</label><span>{{ client.active }}</span>
          </div>
        </main>
      </section>
    </div>
  </section>
</template>

<script>
import {routeAdapter} from '../../mixins';
import MenuHoriz from '../MenuHoriz';

export default {
  name: 'Clients',
  components: {
    MenuHoriz,
  },
  mixins: [
    routeAdapter,
  ],
  data() {
    return {
      clients: this.buildClients(),
      search: '',
    };
  },
  props: {
    initClients: Array,
    minSearchLen: {
      type: Number,
      default: 2,
    },
  },
  methods: {
    buildClients() {
      let clients = [];
      for (let client of this.initClients) {
        client.isVisible = true;
        clients.push(client);
      }
      return clients;
    },
    routeParams(client) {
      return {client: client.id};
    },
    clientMenuItems(client) {
      let items = [];

      let routeParams = this.routeParams(client);

      if (client.is_active) {
        items.push({
          title: 'Добавить задачу',
          href: route('client.task.create', routeParams),
          icon: 'icon-task_add',
        });
      }

      items.push({
        title: 'Изменить',
        href: route('client.edit', routeParams),
        icon: 'icon-edit',
      });
      // items.push({
      //   title: 'удалить',
      //   href: route('client.remove', routeParams),
      //   icon: 'icon-delete',
      // });
      items.push({
        title: 'Задачи',
        href: route('client.tasks', routeParams),
        icon: 'icon-task',
      });
      items.push({
        title: 'Документы',
        href: route('client.documents', routeParams),
        icon: 'icon-documents',
      });

      if (client.is_active) {
        items.push({
          title: 'Генератор документов',
          href: route('client.documents.generator', routeParams),
          icon: 'icon-generator',
        });
      }

      return items;
    },
    onSearchKeyUp(event) {
      let to_skip = ['Enter', 'ArrowDown', 'ArrowUp', 'Tab'];
      if (-1 !== to_skip.indexOf(event.key)) {
        return;
      }

      this.onSearch(this.search);
    },
    onSearch(search) {
      for (let client of this.clients) {
        client.isVisible = true;
      }

      if (search.length >= this.minSearchLen) {

        let lowerCaseSearch = search.toLowerCase();

        for (let client of this.clients) {
          if (!client.name.toLowerCase().includes(lowerCaseSearch)) {
            client.isVisible = false;
          }
        }
      }
    },
  },
};
</script>
