<template>
	<fieldset class="contacts">
		<legend>Контакты</legend>
		<table>
			<thead>
			<tr>
				<th>Метка</th>
				<th>Значение</th>
				<th>Примечание</th>
				<th>Действия</th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="(item, index) in items" :key="index">
				<td>
					<input :name="inputName(index, 'id')" :value="item.id" type="hidden">
					<input type="text" :name="inputName(index, 'name')" v-model="item.name">
				</td>
				<td><input type="text" :name="inputName(index, 'value')" v-model="item.value"></td>
				<td><input type="text" :name="inputName(index, 'note')" v-model="item.note"></td>
				<td><button type="button" class="btn-link remove" @click="removeItem(index)" title="Удалить"><span class="icon icon-delete"></span></button></td>
			</tr>
			<tr>
				<td colspan="4">
					<button type="button" class="btn btn-link" @click="addItem">добавить</button>
				</td>
			</tr>
			</tbody>
		</table>
	</fieldset>
</template>

<script>
  import {routeAdapter, form} from "../../mixins";

  export default {
    name: "Contacts",
    mixins: [
      routeAdapter,
			form,
    ],
		data() {
      return {
        items: this.initItems,
			};
		},
		props: {
      initItems: {
        type: Array,
				default: function() {
          return [];
        },
			},
		},
		methods: {
      removeItem(index) {
				this.items.splice(index, 1);
			},
			addItem() {
				this.items.push({
					id: '',
					name: '',
					value: '',
					note: '',
				});
			},
			inputName(index, name) {
        return form.methods.inputName.call(this, 'contacts', index, name);
			},
		}
  }
</script>
