<template>
  <main>
    <div class="help-block">
      <div v-for="help in rules.help">{{ help }}</div>
    </div>
    <drop-zone @clicked="onDropZoneClicked" ref="drop_zone"></drop-zone>
    <ul class="file-errors" v-if="errors.has('files')">
      <li class="error" v-for="(error, key) in errors.get('files')" v-html="error"></li>
    </ul>
    <progress max="100" :value.prop="uploadPercentage" v-show="isUploading"></progress>
    <input type="file" ref="input" multiple @change="handleFilesUpload()">
    <div class="to-upload">
      <div class="file-listing" v-for="(item, index) in toUpload">
        <div class="file-item">
          <div class="file">
            <div>{{ files[index].name }} ({{ formatFileSize(files[index].size) }})</div>
            <button class="btn btn-link remove" @click="removeToUploadFile(index)">Удалить</button>
          </div>
          <div class="form-inline">
            <div class="form-group document-type-wrapper">
              <label>Тип документа</label>
              <select class="form-control type" :name="inputName(index, 'type_id')" v-model="item.type_id">
                <option v-for="(type, id) in documentTypes" :value="id">{{ type.title }}</option>
              </select>
            </div>
            <div class="form-group document-title-wrapper">
              <label>Название</label>
              <input type="text" class="form-control title" :name="inputName(index, 'title')" v-model="item.title">
            </div>
          </div>
          <div class="form-inline">
            <div class="document-date-wrapper input-group input-group-sm">
              <label>Дата</label>
              <input type="date" class="form-control date" :name="inputName(index, 'date')" v-model="item.date">
            </div>
            <div class="document-number-wrapper input-group input-group-sm">
              <label>Номер</label>
              <input type="text" class="form-control number" :name="inputName(index, 'number')" v-model="item.number">
            </div>
            <div class="document-page-num-wrapper input-group input-group-sm">
              <label>Номер стр.</label>
              <input type="number" class="form-control page-num" :name="inputName(index, 'page_num')" min="0" max="20" v-model="item.page_num">
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" v-if="toUpload.length" @click="submitFiles()">Загрузить</button>
      </div>
    </div>
    <fieldset class="uploaded-files uploaded-documents" v-if="uploadedItems.length">
      <legend>Загруженные документы</legend>
      <div class="files-list">
        <div class="uploaded-document" v-for="(document, index) in uploadedItems" v-trim-whitespace>
          <div class="document">
            <div class="file-type-wrapper">
              <button class="btn-link remove" @click="removeUploadedItem(index)" title="Удалить"><span class="icon icon-delete"></span></button>
              <div class="doc-file-type file-type" :class="document.file.type.class">{{ document.file.type.text }}</div>
            </div>
            <div class="file-link-wrapper" v-trim-whitespace>
              <span class="doc-date">{{ formatDateToHuman(document.date) }}</span>
              <span class="doc-type" :class="document.type.machine_name">{{ document.type.title }}</span>
              <span v-if="document.title" class="doc-title">{{ document.title }}</span>
              <span class="doc-download-link"><a :href="document.file.url" class="file-name">{{ document.file.name }} ({{ document.file.size }})</a></span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </main>
</template>

<script>
import {form, Formatter, routeAdapter} from '../../mixins';
import {dragDrop} from '../file/mixins';
import DropZone from '../file/DropZone';

class Document {

  constructor(date) {
    this.title = '';
    this.date = date;
    this.number = '';
    this.page_num = 1;
    this.type_id = 1;
  }
}

export default {
  name: 'Documents',
  components: {
    DropZone,
  },
  mixins: [
    form,
    Formatter,
    routeAdapter,
    dragDrop,
  ],
  data() {
    return {
      uploadedItems: this.initDocuments,
    };
  },
  props: {
    documentTypes: Object,
    initDocuments: Array,
  },
  methods: {
    inputName(index, name) {
      return form.methods.inputName.call(this, 'documents', index, name);
    },
    _addFile(file) {
      let document = new Document(this.formatDateToStorage(new Date()));
      this.toUpload.push(document);
      this.files.push(file);
    },
    submitFiles() {
      let formData = new FormData();

      let i = 0;
      for (let item of this.toUpload) {
        for (let prop in item) {
          formData.append('documents[' + i + '][' + prop + ']', item[prop]);
        }
        formData.append('documents[' + i + ']', this.files[i]);
        i++;
      }

      let url = route('client.documents.upload', {client: this.client.id});
      this.upload(url, formData);
    },
  },
};
</script>
