<template>
  <main>
    <fieldset class="template-vars">
      <legend>Используемые переменные</legend>
      <div class="vars-type" v-for="data in vars">
        <label class="vars-type-title">{{ data.title }}</label>
        <ul v-if="data.vars">
          <li class="var" v-for="value in data.vars">
            <span class="var-name">{{ value.var }}</span><span class="var-title">{{ value.title }}</span>
          </li>
        </ul>
      </div>
    </fieldset>
    <div class="help-block">
      <div v-for="help in rules.help">{{ help }}</div>
    </div>
    <drop-zone @clicked="onDropZoneClicked" ref="drop_zone"></drop-zone>
    <ul class="file-errors" v-if="errors.has('files')">
      <li class="error" v-for="(error, key) in errors.get('files')" v-html="error"></li>
    </ul>
    <progress max="100" :value.prop="uploadPercentage" v-show="isUploading"></progress>
    <input type="file" ref="input" multiple @change="handleFilesUpload()">
    <div class="to-upload">
      <div class="file-listing" v-for="(item, index) in toUpload">
        <div class="file-item">
          <div class="file">
            <div>{{ files[index].name }} ({{ formatFileSize(files[index].size) }})</div>
            <button class="btn btn-link remove" @click="removeToUploadFile(index)">Удалить</button>
          </div>
          <div class="form-inline">
            <div class="form-group template-type-wrapper">
              <label>Тип шаблона</label>
              <select class="form-control type" :name="inputName(index, 'type_id')" v-model="item.type_id">
                <option v-for="(type, id) in templateTypes" :value="id">{{ type.title }}</option>
              </select>
            </div>
            <div class="form-group template-note-wrapper">
              <label>Примечание</label>
              <input type="text" class="form-control note" :name="inputName(index, 'note')" v-model="item.note">
            </div>
          </div>
          <div class="template-options">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1"
                       :name="inputName(index, 'append_hours_suffix')"
                       v-model="item.options.append_hours_suffix">
                {{ optionDefs.append_hours_suffix.title }}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1"
                       :name="inputName(index, 'human_amount_upfirst')"
                       v-model="item.options.human_amount_upfirst">
                {{ optionDefs.human_amount_upfirst.title }}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1"
                       :name="inputName(index, 'human_amount_append_units_suffix')"
                       v-model="item.options.human_amount_append_units_suffix">
                {{ optionDefs.human_amount_append_units_suffix.title }}
              </label>
            </div>
            <div class="form-inline">
              <div class="input-group input-group-sm col-xs-12 col-sm-5">
                <span class="input-group-addon">{{ optionDefs.date_format.title }}</span>
                <select class="form-control date-format"
                        :name="inputName(index, 'date_format')"
                        v-model="item.options.date_format">
                  <option v-for="(label, format) in optionDefs.date_format.options" :value="format">{{ label }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" v-if="toUpload.length" @click="submitFiles()">Загрузить</button>
      </div>
    </div>
    <fieldset class="uploaded-files uploaded-templates" v-if="uploadedItems.length">
      <legend>Загруженные шаблоны</legend>
      <div class="files-list">
        <div class="uploaded-document" v-for="(document, index) in uploadedItems" v-trim-whitespace>
          <div class="document">
            <div class="file-type-wrapper">
              <button class="btn-link remove" @click="removeUploadedItem(index)" title="Удалить"><span class="icon icon-delete"></span></button>
              <div class="doc-file-type file-type" :class="document.file.type.class">{{ document.file.type.text }}</div>
            </div>
            <div class="file-link-wrapper" v-trim-whitespace>
              <span class="doc-type" :class="document.type.machine_name">{{ document.type.title }}</span>
              <span class="doc-download-link"><a :href="document.file.url" class="file-name">{{ document.file.name }} ({{ document.file.size }})</a></span>
            </div>
          </div>
          <div class="options">
            <div class="option" v-for="(def, key) in optionDefs">
              <label>{{ def.title }}</label><span>{{ document.options[key] }}</span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </main>
</template>

<script>
import {form, Formatter, routeAdapter} from '../../mixins';
import {dragDrop} from '../file/mixins';
import DropZone from '../file/DropZone';

class Template {

  constructor(date_format) {
    this.note = '';
    this.options = {
      append_hours_suffix: false,
      human_amount_upfirst: false,
      human_amount_append_units_suffix: false,
      date_format: date_format,
    };
    this.type_id = 1;
  }
}

export default {
  name: 'DocumentTemplates',
  components: {
    DropZone,
  },
  mixins: [
    form,
    Formatter,
    routeAdapter,
    dragDrop,
  ],
  data() {
    return {
      uploadedItems: this.initTemplates,
    };
  },
  props: {
    templateTypes: Object,
    vars: Object,
    optionDefs: Object,
    dateFormats: Object,
    initTemplates: Array,
  },
  methods: {
    inputName(index, name) {
      return form.methods.inputName.call(this, 'templates', index, name);
    },
    _addFile(file) {
      let template = new Template(Object.keys(this.dateFormats)[0]);
      this.toUpload.push(template);
      this.files.push(file);
    },
    submitFiles() {
      let formData = new FormData();

      let i = 0;
      for (let item of this.toUpload) {
        for (let prop in item) {
          if ('options' === prop) {
            for (let key in item[prop]) {
              formData.append('templates[' + i + '][' + prop + '][' + key + ']', item[prop][key]);
            }
          }
          else {
            formData.append('templates[' + i + '][' + prop + ']', item[prop]);
          }
        }
        formData.append('templates[' + i + ']', this.files[i]);
        i++;
      }

      let url = route('client.documents.templates.upload', {client: this.client.id});
      this.upload(url, formData);
    },
  },
};
</script>
