<template>
	<fieldset class="form-group client-sites">
		<legend>Сайты</legend>
		<div class="help">Укажите полные адреса сайта/страницы клиента, над которым идут работы.</div>
		<div class="form-group sites" v-for="(item, index) in items" :key="index">
			<input :name="inputName(index, 'id')" :value="item.id" type="hidden">
			<div class="form-group required site">
				<input type="url" class="form-control" :name="inputName(index, 'url')"
					v-model="item.url" required>
				<button class="btn-link remove" type="button" @click="removeItem(index)" title="Удалить"><span class="icon icon-delete"></span></button>
			</div>
		</div>
		<div class="form-group">
			<button type="button" class="btn-link" @click="addItem">добавить</button>
		</div>
	</fieldset>
</template>

<script>
  import {routeAdapter, form} from "../../mixins";

  export default {
    name: "Sites",
    mixins: [
      routeAdapter,
			form,
    ],
    data() {
      return {
        items: this.initItems,
      };
    },
    props: {
      initItems: {
        type: Array,
        default: function() {
          return [];
        },
      },
    },
    methods: {
      removeItem(index) {
        this.items.splice(index, 1);
      },
      addItem() {
        this.items.push({
          id: '',
          url: '',
        });
      },
      inputName(index, name) {
        return form.methods.inputName.call(this, 'sites', index, name);
      },
    }
  }
</script>
