<template>
  <section class="tab-content">
    <header>
      <h1>Шаблоны задач клиента "{{ client.name }}"</h1>
      <div class="actions" v-if="client.is_selectable">
        <button class="btn btn-primary" @click="addTemplate">Добавить</button>
      </div>
    </header>
    <div class="task-template-placeholders">
      <fieldset>
        <legend class="btn btn-link" @click="isPlaceholdersOpen=!isPlaceholdersOpen">Подстановочные переменные</legend>
        <table v-show="isPlaceholdersOpen">
          <tbody>
          <tr v-for="(description, placeholder) in placeholders" :key="placeholder">
            <td><strong v-html="placeholder"></strong></td>
            <td>{{ description }}</td>
          </tr>
          </tbody>
        </table>
      </fieldset>
      <fieldset>
        <legend class="btn btn-link" @click="isModifiersOpen=!isModifiersOpen">Модификаторы</legend>
        <table v-show="isModifiersOpen">
          <tbody>
          <tr v-for="(description, modifier) in modifiers" :key="modifier">
            <td><strong v-html="modifier"></strong></td>
            <td>{{ description }}</td>
          </tr>
          </tbody>
        </table>
      </fieldset>
      <fieldset>
        <legend class="btn btn-link" @click="isExamplesOpen=!isExamplesOpen">Примеры</legend>
        <table v-show="isExamplesOpen">
          <tbody>
          <tr v-for="(result, source) in examples" :key="source">
            <td v-html="source"></td>
            <td v-html="result"></td>
          </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
    <div class="client-task-templates" v-if="templates.length">
      <h4>Текущие шаблоны клиента <a :href="route('client.show', {'client': client.id})">{{ client.name }}</a></h4>
      <ul>
        <li v-for="(template, index) in templates" :key="index" class="current-task-template">
          <template-view
            :template="template"
            :client="client"
            :client-sites="clientSites"
            :placeholders="placeholders"
            :modifiers="modifiers"
          ></template-view>
          <div class="form-actions">
            <button type="button" class="btn btn-primary" @click="editTemplate(template)"><span class="icon icon-edit"></span>изменить</button>
            <button type="button" class="btn btn-danger" @click="removeTemplate(index)"><span class="icon icon-delete"></span>удалить</button>
          </div>
        </li>
      </ul>
    </div>
    <modal v-if="editableTemplate" @closed="editableTemplate=null" class="template-modal-form">
      <template #header>{{ modalTitle(editableTemplate) }}</template>
      <template #body>
        <template-form
          :init-template="editableTemplate"
          :client="client"
          :client-sites="clientSites"
          :placeholders="placeholders"
          :modifiers="modifiers"
          @save="onSave" ref="templateForm"></template-form>
      </template>
      <template #close_label>Отменить</template>
      <template #footer>
        <button type="button" class="btn-sm btn-primary" @click="save">Сохранить</button>
      </template>
    </modal>
  </section>
</template>

<script>
import TemplateView from '../task_template/TemplateView';
import TemplateForm from '../task_template/TemplateForm';
import Modal from '../Modal';
import {routeAdapter} from '../../mixins';

class Template {
  id = '';
  is_active = true;
  client_site_id = '';
  title = '';
  description = '';
  currency = 'RUB';
  budget = null;
  hours = null;
}

export default {
  name: 'TaskTemplates',
  components: {
    TemplateView,
    TemplateForm,
    Modal,
  },
  mixins: [
    routeAdapter,
  ],
  data() {
    return {
      templates: this.currentTemplates,
      isPlaceholdersOpen: false,
      isModifiersOpen: false,
      isExamplesOpen: false,
      editableTemplate: null,
    };
  },
  props: {
    client: Object,
    clientSites: Array,
    placeholders: Object,
    modifiers: Object,
    examples: Object,
    currentTemplates: Array,
  },
  methods: {
    modalTitle(editableTemplate) {
      if (!editableTemplate) {
        return '';
      }

      let title = this.client.name;

      if (!editableTemplate.id) {
        title += ': новый шаблон';
      }
      else {
        title += ': ' + editableTemplate.title;
      }

      return title;
    },
    addTemplate() {
      this.editableTemplate = new Template();
    },
    editTemplate(template) {
      this.editableTemplate = template;
    },
    removeTemplate(index) {
      let template = this.templates[index];

      if (!confirm(`Удалить шаблон "${template.title}"?`)) {
        return;
      }

      let params = {
        client: this.client.id,
        id: template.id,
      };

      axios.delete(route('client.task_template.remove', params)).then((response) => {
        if ('success' === response.data.status) {
          this.success(response.data.msg);
          this.templates.splice(index, 1);
        }
        else {
          this.error(response.data.msg);
        }
      });
    },
    save() {
      this.$refs.templateForm.save();
    },
    onSave(template) {
      let isNew = !template.id;
      let _route = isNew ? 'client.task_templates.add' : 'client.task_template.update';

      let params = {
        client: this.client.id,
      };

      if (!isNew) {
        params['id'] = template.id;
      }

      axios.post(route(_route, params), {
        is_active: true,
        title: template.title,
        description: template.description,
        client_site_id: template.client_site_id ?? null,
        currency: template.currency,
        budget: template.budget,
        hours: template.hours,
      }).then((response) => {
        if ('success' === response.data.status) {
          this.success(response.data.msg);
          if (isNew) {
            this.templates.push(response.data.template);
          }

          this.editableTemplate = null;
        }
        else {
          this.error(response.data.msg);
        }
      });
    },
  },
};
</script>
