@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6zcfv6') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6zcfv6##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-task_add {
  &:before {
    content: $icon-task_add;
  }
}

.icon-task_remove {
  &:before {
    content: $icon-task_remove;
  }
}

.icon-finish {
  &:before {
    content: $icon-finish;
  }
}

.icon-documents {
  &:before {
    content: $icon-documents;
  }
}

.icon-client {
  &:before {
    content: $icon-client;
  }
}

.icon-payment {
  &:before {
    content: $icon-payment;
  }
}

.icon-template {
  &:before {
    content: $icon-template;
  }
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-edit {
  &:before {
    content: $icon-edit;
  }
}

.icon-settings {
  &:before {
    content: $icon-settings;
  }
}

.icon-generator {
  &:before {
    content: $icon-generator;
  }
}

.icon-task {
  &:before {
    content: $icon-task;
  }
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}

.icon-show {
  &:before {
    content: $icon-show;
  }
}

.icon-warning {
  &:before {
    content: $icon-warning;
  }
}

.icon-notification {
  &:before {
    content: $icon-notification;
  }
}

.icon-add {
  &:before {
    content: $icon-add;
  }
}

.icon-info {
  &:before {
    content: $icon-info;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}

.icon-delete {
  &:before {
    content: $icon-delete;
  }
}

.icon-up {
  &:before {
    content: $icon-up;
  }
}

.icon-right {
  &:before {
    content: $icon-right;
  }
}

.icon-down {
  &:before {
    content: $icon-down;
  }
}

.icon-left {
  &:before {
    content: $icon-left;
  }
}

.icon-active {
  &:before {
    content: $icon-active;
  }
}

.icon-inactive {
  &:before {
    content: $icon-inactive;
  }
}

.icon-save {
  &:before {
    content: $icon-save;
  }
}
