$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts/icons" !default;

$icon-task_add: unquote('"\\e900"');
$icon-task_remove: unquote('"\\e901"');
$icon-finish: unquote('"\\e902"');
$icon-documents: unquote('"\\e920"');
$icon-client: unquote('"\\e923"');
$icon-payment: unquote('"\\e93f"');
$icon-template: unquote('"\\e94b"');
$icon-calendar: unquote('"\\e953"');
$icon-search: unquote('"\\e986"');
$icon-edit: unquote('"\\e991"');
$icon-settings: unquote('"\\e992"');
$icon-generator: unquote('"\\e997"');
$icon-task: unquote('"\\e9b8"');
$icon-menu: unquote('"\\e9bf"');
$icon-show: unquote('"\\e9ce"');
$icon-warning: unquote('"\\ea07"');
$icon-notification: unquote('"\\ea08"');
$icon-add: unquote('"\\ea0a"');
$icon-info: unquote('"\\ea0c"');
$icon-close: unquote('"\\ea0d"');
$icon-delete: unquote('"\\ea0f"');
$icon-up: unquote('"\\ea41"');
$icon-right: unquote('"\\ea42"');
$icon-down: unquote('"\\ea43"');
$icon-left: unquote('"\\ea44"');
$icon-active: unquote('"\\ea55"');
$icon-inactive: unquote('"\\ea56"');
$icon-save: unquote('"\\f0c7"');
