// Fonts
@font-face {
  font-family: 'OpenSans Regular';
  font-weight: 400;
  font-display: auto;
  src: local('Open Sans'), url('../fonts/opensans/regular.woff') format('woff');
}

@import "variables";
@import "mixins";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
body,
input,
select,
textarea,
button {
  font-family: "OpenSans Regular", 'Verdana', sans-serif;
  font-size: 16px;
}
.container {
  margin-top: 3em;
}


.content {
  padding: 1em;
}
.sidebar {
  padding: 1em 1em 1em .5em;
}
.sidebar main {
  @include rect-strong-padding;
}
.sidebar li {
  line-height: 1.5em;
}
.content.with-sidebar {
  padding: 1em .5em 1em 1em;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  @include base-margin-bottom;
}
header {
  h2, h3, h4, h5 {
    margin: 0;
  }
  h1 {
    line-height: 1;
  }
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: .8em;
}


.nav > li {
  list-style: none;
}
.nav > li > a {
  display: block;
  position: relative;
}
nav .nav {
  display: flex;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ul ul {
  margin-left: 1em;
}


a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
header {
  @include flex-spaced;
}
.client header {
  @include base-margin-bottom;
}

dd {
  margin-left: .5em;
  font-size: $font-smaller-size;
}
.breadcrumbs {
  display: flex;
  margin-bottom: 1em;
}
.breadcrumbs .delimiter {
  padding: 0 0.3rem;
}
.pagination {
  @include flex-centered;
  flex-wrap: wrap;
  margin: 1em 0;
}
.page-item > span,
.page-item > a {
  padding: .2em .7em;
  margin: 0 .2em;
}
.page-item > span, .page-item > a {
  background-color: white;
  border: 1px solid;
}
.active .page-link {
  background-color: #f0f0f0;
  border-color: #a9a9a9;
}
.sidebar section {
  box-shadow: 0 0 1px;
}
section header,
section main,
section footer {
  @include small-padding;
}
.sidebar section:not(:last-child) {
  @include base-margin-bottom;
}
