@import 'variables';

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.content {
  grid-column: span 12;
}
.sidebar {
  grid-column: span 3;
}
.content.with-sidebar {
  grid-column: span 9;
}
