// Body
$body-bg: white;
$color: #333;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: .9rem;
$line-height-base: 1.6;
$font-smaller-size: .8em;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gray: #ddd;
$gray-dark: #ccc;
$gray-light: #eee;


$bg-toggleable: #f0f0f0;
$bg-light: #f7f7f7;

$border-color: $gray;
$border: 1px solid $gray;

$border-dark: 1px solid $gray-dark;
