@import '../fonts/icons/variables';
@import '../fonts/icons/style';

@import 'variables';

@import "mixins";
@import "layout";
@import "base";
@import "navbar";
@import "buttons";
@import "style";
@import "table";
@import "form";
@import "autocomplete";
@import "modal";
@import "notify";
@import "alert";
@import "dropdown";

.small-actions .btn,
.toggle-icon,
.help-block,
.help,
.help .btn-link,
td.flags {
  font-size: $font-smaller-size;
}

.menu-vert .icon,
.tab-button .icon,
button .icon,
.help-block .icon {
  margin-right: .5em;
}

.toggle-icon {
  margin-left: .3em;
}

.navigation {
  @include base-margin-bottom;
}

.tab-content {
  padding: 1em .5em .5em;
}

.help {
  display: block;
}

.help-block {
  display: block;
  margin-top: .5em;
  margin-bottom: .3em;
}

.help,
.help .btn-link {
  font-style: italic;
}

.help p {
  margin: 0;
}

.collapse-button {
  cursor: pointer;
  @include rect-long-padding;
}

.collapse-button:hover {
  text-decoration: none;
  text-shadow: 0 0 2px;
}

.col-note {
  max-width: 300px;
}

.task-state {
  @include base-padding;
}

select.task-state,
span.task-state,
.inline-wrapper .task-state {
  @include rect-long-padding;
}

.inline-wrapper,
.form-inline {
  @include flex-started;
  gap: 5px;
}

.inline-wrapper table {
  width: 100%;
}

.inline-wrapper > div:not(:last-child),
.inline-wrapper > section:not(:last-child) {
  margin-right: 1em;
}

.inline-wrapper > label {
  margin-right: .5em;
}

.inline-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inline-list div {
  @include small-padding;
}

.money-wrapper,
.payments .amount,
.money-cell {
  text-align: right;
}

.task-history .task-state {
  text-align: center;
}

.task-history li,
.payment-note {
  font-size: $font-smaller-size;
}

.payments .payment-date {
  text-align: left;
}

.budget div {
  display: inline-block;
  padding: .3em;
}

.dashboard > section:not(:last-child) {
  margin-bottom: 2em;
}

.dashboard h2 {
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
  padding: 0 0 0.3em;
  margin-bottom: .3em;
}

.clients .search {
  margin: 1em 0;
}

.clients-list .short-client:not(:last-child),
.current-task-template:not(:last-child),
.vars-type:not(:last-child),
.payments .payment:not(:last-child) {
  @include base-margin-bottom;
}

.short-client {
  @include base-padding;
}

.short-client .client-title {
  padding-bottom: .7em; // .short-client::padding-top + section header::padding-top
  @include flex-spaced;
}

.short-client .client-note {
  @include base-margin-bottom;
  line-height: 1.3em;
}

.client-documents {
  @include flex-centered;
  flex-wrap: wrap;
  align-items: stretch;
}

.client-documents > dl {
  flex-grow: 1;
  width: 250px;
  border: $border;
  padding: .5em;
  margin: 0.2em;
}

.tasks {
  @include flex-centered;
  flex-wrap: wrap;
  align-items: stretch;
}

.short-task {
  @include small-padding;
  flex-grow: 1;
  margin: 0 .5em .5em 0;
  width: 250px;

  .menu-horiz {
    margin-left: .5em;
  }

  .menu-item-action {
    padding: 0 .2em;
  }

  header {
    box-shadow: 0 .5px 1px;

    button {
      font-size: $font-smaller-size;
    }

    .task-state {
      padding: 0;
    }

    .task-title {
      margin: .5em 0;
      line-height: 1.1;
    }
  }

  > main {
    .task-payments {
      font-size: $font-smaller-size;
      margin-top: .5em;

      .payment-date {
        margin-right: .5em;
      }

      .payment-date:after {
        content: ':';
      }
    }
  }
}

.task-dates {
  display: flex;
  gap: 5px;
}

.task-footer {
  text-align: right;
  padding: .5em 0 0 0;
}

.template-vars {
  font-size: $font-smaller-size;
}

.template-vars legend {
  font-size: 1em;
}

.vars-type-title {
  text-transform: uppercase;
}

.var-name {
  font-weight: bolder;
}

.var-title {
  margin-left: 1em;
}

.client-task-templates {
  margin-top: 1em;
}

.client label {
  font-weight: bold;
}

.toggle-content.collapsed {
  display: none;
}

.subtasks,
.payments {
  padding-right: 3em;
}

.subtask,
.payment {
  position: relative;
}

.subtask .remove,
.payment .remove {
  position: absolute;
  right: -2em;
  top: 0;
}

.login,
.register {
  margin: auto;
  width: 400px;
}

.menu-horiz {
  display: flex;
}

.menu-item-action {
  @include rect-long-padding;
}

.template-modal-form .modal {
  max-width: 500px;
}

.autocomplete-list {
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}

.autocomplete-result {
  padding: 0.2em 0.5em;
  cursor: pointer;
  border-radius: 0;
  font-size: 0.7rem;
  border: none;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: $blue;
  color: white;
}

.user-currencies .selected {
  display: flex;
}

.user-currencies .currency {
  padding: 0.2rem;
  background-color: #efefef;
  border: 1px solid #cfcfcf;
  margin-right: .2em;
}

.user-currencies .remove {
  font-size: .8em;
  margin-left: 1em;
}

.currencies-select {
  position: absolute;
  z-index: 10;
  box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.51);
  border: 1px solid $border-color;
  width: 300px;
}

.currencies-result {
  padding: 0;
}

.currencies-result .btn-as-span {
  display: flex;
  padding: 0.2em 0.5em;
  width: 100%;
}

.currencies-result .btn-as-span:hover,
.currencies-result .btn-as-span:focus,
.currencies-result .btn-as-span:active {
  color: white;
}

.currencies-result .code {
  width: 3.5em;
}

// vue transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// tree
.tree {
  padding: 1em;
}

.tree .toggle-link {
  @include flex-spaced;
}

// tooltip

.tooltip {
  position: fixed;
  @include rect-strong-padding;
}

.generator-docs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;

  .generator-doc {
    background: white;
  }

  .generator-doc.disabled {
    color: gray;
  }
}
