@import "variables";

.autocomplete-list {
  position: absolute;
  z-index: 10;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.51);
  border: 1px solid $border-color;
}
.autocomplete-result {
  padding: 0 .5em 0.2em .5em;
  cursor: pointer;
  border-radius: 0;
  font-size: $font-smaller-size;
  border: none;
}
.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: $blue;
  color: white;
}
