@import "variables";

$btn-border: 1px solid;
$btn-shadow: 0 0 1px 0;
$btn-shadow-active: 0 0 0 0;
$btn-shadow-focus: 0 0 2px 1px;
$btn-text-shadow: 0 1px 1px;
$btn-text-color: white;
$btn-hover-lighten: 10;

button,
.btn,
input[type=button],
input[type=submit] {
  padding: .3em .9em .4em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 1em;
  border-radius: .2em;
  user-select: none;
}

button:not(:disabled):not(.disabled),
.button:not(:disabled):not(.disabled),
.btn:not(:disabled):not(.disabled),
input[type=button]:not(:disabled):not(.disabled),
input[type=submit]:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn,
a.btn {
  color: $btn-text-color;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:visited,
a.btn:visited,
.btn:hover,
a.btn:hover,
.btn:active,
a.btn:active {
  color: $btn-text-color;
}

.btn-link {
  color: #007bff;
}

.btn-link:hover {
  color: #0061c1;
}

.btn-link:disabled {
  color: #ababab;
}

.btn-link,
.toggle-link {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}

.toggle-link:hover {
  cursor: pointer;
  color: darken($color, 10);
}

.one-line-block .btn-link {
  padding: .3em .2em;
  margin: 0;
}

$btn-primary-low-color: darken($blue, 10);
$btn-primary-high-color: lighten($blue, 10);
$btn-primary-border-color: darken($btn-primary-low-color, 10);
$btn-primary-shadow-color: darken($btn-primary-border-color, 10);
$btn-primary-focus-shadow-color: lighten($btn-primary-high-color, 10);

.btn-primary {
  background: linear-gradient(to bottom, $btn-primary-high-color 5%, $btn-primary-low-color 100%);
  background-color: $btn-primary-low-color;
  border: $btn-border $btn-primary-border-color;
  color: $btn-text-color;
  text-shadow: $btn-text-shadow $btn-primary-border-color;
}

.btn-primary:not(:disabled):not(.disabled):hover {
  background: linear-gradient(to top, lighten($btn-primary-low-color, $btn-hover-lighten) 5%, lighten($btn-primary-high-color, $btn-hover-lighten) 100%);
  background-color: $btn-primary-high-color;
}

.btn-primary:not(:disabled):not(.disabled):active {
  box-shadow: $btn-shadow-active $btn-primary-shadow-color;
}

.btn-primary:not(:disabled):not(.disabled):focus {
  box-shadow: $btn-shadow-focus $btn-primary-focus-shadow-color;
}

$btn-success-low-color: darken($green, 10);
$btn-success-high-color: lighten($green, 10);
$btn-success-border-color: darken($btn-success-low-color, 10);
$btn-success-shadow-color: darken($btn-success-border-color, 10);
$btn-success-focus-shadow-color: lighten($btn-success-high-color, 10);

.btn-success {
  background: linear-gradient(to bottom, $btn-success-high-color 5%, $btn-success-low-color 100%);
  background-color: $btn-success-low-color;
  border: $btn-border $btn-success-border-color;
  color: $btn-text-color;
  text-shadow: $btn-text-shadow $btn-success-border-color;
}

.btn-success:not(:disabled):not(.disabled):hover {
  background: linear-gradient(to top, lighten($btn-success-low-color, $btn-hover-lighten) 5%, lighten($btn-success-high-color, $btn-hover-lighten) 100%);
  background-color: $btn-success-high-color;
}

.btn-success:not(:disabled):not(.disabled):active {
  box-shadow: $btn-shadow-active $btn-success-shadow-color;
}

.btn-success:not(:disabled):not(.disabled):focus {
  box-shadow: $btn-shadow-focus $btn-success-focus-shadow-color;
}

$btn-secondary-low-color: darken($gray, 5);
$btn-secondary-high-color: lighten($gray, 5);
$btn-secondary-border-color: darken($btn-secondary-low-color, 10);
$btn-secondary-shadow-color: darken($btn-secondary-border-color, 10);
$btn-secondary-focus-shadow-color: lighten($btn-secondary-high-color, 10);
$btn-secondary-text-color: #666;
$btn-secondary-text-shadow-color: white;

.btn-secondary {
  background: linear-gradient(to bottom, $btn-secondary-high-color 5%, $btn-secondary-low-color 100%);
  background-color: $btn-secondary-low-color;
  border: $btn-border $btn-secondary-border-color;
  color: $btn-secondary-text-color !important;
  text-shadow: $btn-text-shadow $btn-secondary-text-shadow-color;
}

.btn-secondary:not(:disabled):not(.disabled):hover {
  color: $btn-secondary-text-color;
  background: linear-gradient(to top, lighten($btn-secondary-low-color, $btn-hover-lighten) 5%, lighten($btn-secondary-high-color, $btn-hover-lighten) 100%);
  background-color: $btn-secondary-high-color;
  border: $btn-border $btn-secondary-border-color;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: $btn-secondary-text-color;
  box-shadow: $btn-shadow-active $btn-secondary-shadow-color;
  border: $btn-border $btn-secondary-border-color;
}

.btn-secondary:not(:disabled):not(.disabled):focus {
  color: $btn-secondary-text-color;
  box-shadow: $btn-shadow-focus $btn-secondary-focus-shadow-color;
  border: $btn-border $btn-secondary-border-color;
}

$btn-danger-low-color: darken($red, 10);
$btn-danger-high-color: lighten($red, 10);
$btn-danger-border-color: darken($btn-danger-low-color, 10);
$btn-danger-shadow-color: darken($btn-danger-border-color, 10);
$btn-danger-focus-shadow-color: lighten($btn-danger-high-color, 10);

.btn-danger {
  background: linear-gradient(to bottom, $btn-danger-high-color 5%, $btn-danger-low-color 100%);
  background-color: $btn-danger-low-color;
  border: $btn-border $btn-danger-border-color;
  color: $btn-text-color;
  text-shadow: $btn-text-shadow $btn-danger-border-color;
}

.btn-danger:not(:disabled):not(.disabled):hover {
  background: linear-gradient(to top, lighten($btn-danger-low-color, $btn-hover-lighten) 5%, lighten($btn-danger-high-color, $btn-hover-lighten) 100%);
  background-color: $btn-danger-high-color;
}

.btn-danger:not(:disabled):not(.disabled):active {
  box-shadow: $btn-shadow-active $btn-danger-shadow-color;
}

.btn-danger:not(:disabled):not(.disabled):focus {
  box-shadow: $btn-shadow-focus $btn-danger-focus-shadow-color;
}

$btn-warning-low-color: darken($orange, 10);
$btn-warning-high-color: lighten($orange, 10);
$btn-warning-border-color: darken($btn-warning-low-color, 10);
$btn-warning-shadow-color: darken($btn-warning-border-color, 10);
$btn-warning-focus-shadow-color: lighten($btn-warning-high-color, 10);

.btn-warning {
  background: linear-gradient(to bottom, $btn-warning-high-color 5%, $btn-warning-low-color 100%);
  background-color: $btn-warning-low-color;
  border: $btn-border $btn-warning-border-color;
  color: $btn-text-color;
  text-shadow: $btn-text-shadow $btn-warning-border-color;
}

.btn-warning:not(:disabled):not(.disabled):hover {
  color: $btn-text-color;
  background: linear-gradient(to top, lighten($btn-warning-low-color, $btn-hover-lighten) 5%, lighten($btn-warning-high-color, $btn-hover-lighten) 100%);
  background-color: $btn-warning-high-color;
  border: $btn-border $btn-warning-border-color;
}

.btn-warning:not(:disabled):not(.disabled):active {
  color: $btn-text-color;
  box-shadow: $btn-shadow-active $btn-warning-shadow-color;
  border: $btn-border $btn-warning-border-color;
}

.btn-warning:not(:disabled):not(.disabled):focus {
  color: $btn-text-color;
  box-shadow: $btn-shadow-focus $btn-warning-focus-shadow-color;
  border: $btn-border $btn-warning-border-color;
}

$btn-info-low-color: darken($cyan, 10);
$btn-info-high-color: lighten($cyan, 10);
$btn-info-border-color: darken($btn-info-low-color, 10);
$btn-info-shadow-color: darken($btn-info-border-color, 10);
$btn-info-focus-shadow-color: lighten($btn-info-high-color, 10);

.btn-info {
  background: linear-gradient(to bottom, $btn-info-high-color 5%, $btn-info-low-color 100%);
  background-color: $btn-info-low-color;
  border: $btn-border $btn-info-border-color;
  color: $btn-text-color;
  text-shadow: $btn-text-shadow $btn-info-border-color;
}

.btn-info:not(:disabled):not(.disabled):hover {
  background: linear-gradient(to top, lighten($btn-info-low-color, $btn-hover-lighten) 5%, lighten($btn-info-high-color, $btn-hover-lighten) 100%);
  background-color: $btn-info-high-color;
}

.btn-info:not(:disabled):not(.disabled):active {
  box-shadow: $btn-shadow-active $btn-info-shadow-color;
}

.btn-info:not(:disabled):not(.disabled):focus {
  box-shadow: $btn-shadow-focus $btn-info-focus-shadow-color;
}

.tab-button {
  display: inline-block;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  margin-bottom: -1px;
  margin-right: -1px;
}

.tab-button a {
  display: block;
  padding: 6px 10px;
}

.btn-as-span {
  text-align: left;
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
}
