@import "variables";
@import "mixins";

.calendar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1em .5em;
}
.filter-form {
  @include base-margin-bottom;
}
.day {
  border: 1px solid #bbb;
  @include rect-padding;
  text-align: center;
}
.day:not(.past) {
  cursor: pointer;
}
.day.past {
  color: #bbb;
}
.day.weekend,
.day.official-holiday {
  color: #ff00c2;
}
.day.official-holiday {
  font-weight: bold;
}
.day.holiday:not(.past),
.day:not(.past):hover {
  background-color: #5fdbff;
}
.day.checked {
  color: #f00;
}
.day.has-amount {
  cursor: pointer;
  background-color: green;
  color: white;
}
.day.past.holiday {
  color: #ff85e2;
  background-color: #e8f0ff;
}
.day.today {
  font-weight: bolder;
  box-shadow: 0 -3px 0 red inset;
}
.month-name {
  text-align: center;
  background-color: #eee;
  border-bottom: 1px solid #bbb;
}
.weekday-name {
  @include rect-padding;
}
