.dropdown {
  position: relative;
}
.dropdown .menu {
  display: none;
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.51);
  border: 1px solid #bbb;
}
.dropdown.opened .menu {
  display: block;
}
.dropdown .menu a {
  padding: .3em .5em;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  text-align: left;
}
.dropdown-toggle {
  cursor: pointer;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
