@import "mixins";

input[type="file"] {
  display: none;
}

.bar {
  height: 18px;
  background: green;
}

progress {
  width: 400px;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.file-item {
  @include base-margin-bottom;
  @include base-padding;
}

.file-item .file {
  @include flex-spaced;
  @include base-margin-bottom;
}

.file-item .progress {
  width: 100px;
  height: 15px;
  margin-bottom: 0;
}

.files,
.fileinput-button {
  @include base-margin-bottom;
}

.uploaded-files {
  margin-top: 2em;
}

.files-list {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .uploaded-document {
    .document {
      display: flex;

      > :not(:last-child) {
        margin-right: .5em;
      }

      .file-type-wrapper {
        white-space: nowrap;

        .remove {
          font-size: .8em;
          line-height: 1;
        }

        .file-type {
          display: inline-block;
          padding: 0 .3em;
          width: 3em;
          text-align: center;
        }
      }

      .file-link-wrapper {
        > :not(:last-child) {
          margin-right: .5em;
        }
      }
    }

    .options {
      margin-left: 2em;
      line-height: 1.2;

      .option {
        display: flex;

        label {
          font-weight: bold;
        }

        label:after {
          content: ":";
          margin-right: .5em;
        }

        span {
          font-style: italic;
        }
      }
    }
  }
}

.file-name {
  width: 20em;
  text-overflow: ellipsis;
  padding: 0 .5em 0 0;
  overflow: hidden;
  vertical-align: middle;
}

.file-size {
  width: 3.5em;
  text-align: right;
}

.file-type {
  color: whitesmoke;
}

.file-type-xls {
  background-color: #0a6332;
}

.file-type-doc {
  background-color: #3d72d6;
}

.file-type-pdf {
  background-color: #d63d3d;
}

.file-type-pic {
  background-color: #941111;
}

.file-doc-template-type select.form-control,
.file-doc-template-note input.form-control {
  width: 100%;
}

.drop-zone {
  cursor: pointer;
  border-radius: 1em;
  border: 2px dashed;
  line-height: 2em;
  padding: 2em;
  text-align: center;
  margin: 1em 0;
}

.drop-zone:hover,
.drop-zone.dragover {
  color: cornflowerblue;
  border-color: cornflowerblue;
}
