@import "variables";
@import "mixins";

form {
  @include base-padding;
  @include form-colors;
}

input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']),
select,
textarea {
  @include small-padding;
  width: 100%;
}

input.rate {
  width: 3em !important;
}

input.money {
  width: 7em !important;
  text-align: right;
}

label {
  display: block;
  margin-bottom: 2px;
}

fieldset {
  margin: 0;
}

legend {
  font-weight: bolder;
}

.form-group,
fieldset {
  margin-bottom: .5rem;
}

.form-actions {
  margin-top: 1em;
}

.task-title {
  width: 100%;
}

.inline-radios {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.inline-radios input[type='radio'] {
  margin-right: .2rem;
}

table textarea.form-control {
  line-height: .8rem;
  font-size: $font-smaller-size;
}

.form-inline select {
  width: auto;
}

.form-control:not(textarea) {
  height: 2em;
}

input[type="number"] {
  max-width: 5em;
}

form label {
  display: block;
}

form .actions {
  margin-top: 1em;
}

form .actions > button:not(:last-child) {
  margin-right: .5em;
}

.form-group.required label:after {
  content: "*";
  color: red;
}

.form-group.item {
  background-color: #f9f9f9;
  box-shadow: 0 0 2px;
  @include base-padding;
}

.form-check {
  @include flex-started;
  align-items: center;
}

.task-state-wrapper {
  width: 200px;
}

.task-state-wrapper .radio {
  margin-top: 0;
}

.task-state-wrapper .radio label {
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 2em;
}

.form-group.site button {
  margin-left: .5em;
}

.form-group.site input {
  width: calc(100% - 6em) !important;
  float: left;
}

.file-item .document-title-wrapper,
.file-item .template-note-wrapper {
  width: 100%;
}

.has-error .alert {
  font-size: $font-smaller-size;
  padding: .3em;
  margin: 0;
  position: absolute;
  z-index: 10;
  opacity: .85;
  white-space: nowrap;
}

.has-error .alert::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #e7c3c3 transparent transparent transparent;
}
