@import "variables";
@import "mixins";
.modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .75);
	@include flex-centered;
	align-items: center;
	z-index: 1;
}
.modal {
	background: $bg-light;
	box-shadow: 0 0 20px 0 black;
	display: flex;
	flex-direction: column;
	padding: .3em;
	z-index: 2;
}
.modal header {
	@include flex-spaced;
	padding: .2em .5em .3em .5em;
}
.modal footer {
	display: flex;
	justify-content: flex-end;
}
.modal main {
	position: relative;
	@include base-padding;
}
.modal-fade-enter,
.modal-fade-leave-active {
	opacity: 0;
}
.modal-fade-enter-active,
.modal-fade-leave-active {
	transition: opacity .5s ease;
}
.modal header .inline label {
	font-weight: bolder;
}
$modal-header-bg: #616161;
$modal-header-color: white;
.modal header {
	background-color: $modal-header-bg;
	box-shadow: 0 1px 0 0 darken($modal-header-bg, 20);
	border: 1px solid $modal-header-color;
	color: $modal-header-color;
}
.modal header .btn-link,
.modal header .btn-link:hover,
.modal header .btn-link:focus,
.modal header .btn-link:active {
	color: $modal-header-color;
}
.modal header .btn-link:hover {
	text-shadow: 0 0 2px $modal-header-color;
}
