@import "variables";
@import "mixins";

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include flex-spaced;
  padding: 0 1em .5em 1em;
  z-index: 1;
}
.navbar-header {
  padding: .5em .5em 0 .5em;
}
.navbar-content {
  display: flex;
}
.navbar-content ul ul {
  margin-left: 0;
}
.navbar {
  background: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
  box-shadow: 0 1px 2px;
}
.navbar a,
.navbar .dropdown-toggle,
.navbar a:visited,
.navbar a:focus {
  color: cadetblue;
}
.navbar-content .nav > li > * {
  background-color: whitesmoke;
  border-radius: 0 0 .5em .5em;
  box-shadow: 0 1px 1px;
  @include rect-strong-padding;
}
.navbar-content .nav > li .dropdown.opened {
  border-radius: 0;
}
.navbar-content .nav > li > *:hover,
.navbar-content .nav > li > *:active,
.navbar-content .nav > li .dropdown.opened {
  color: #457e80;
  background-color: $body-bg;
  transform: translateY(2px);
  transition: all .2s ease-in;
  z-index: 1;
}
.navbar-content .dropdown .menu {
  top: 105%;
  border: 1px solid cadetblue;
  box-shadow: 0 1px 3px 0 rgba(95, 158, 160, .7);
}
