@import "variables";
@import "mixins";
//
.notify-wrapper {
  position: fixed;
  max-width: 50%;
  z-index: 10;
  top: 10px;
  right: 10px;
  bottom: 0;
}
.notify {
  @include base-padding;
  position: relative;
  border-width: 1px;
  border-style: solid;
  transition: all .5s ease-out;
  margin-top: 5px;
  box-shadow: 0 0 5px;
}
.notify header {
  font-weight: bold;
}
.notify .close {
  position: absolute;
  right: .25em;
  top: -.25em;
  cursor: pointer;
  color: #737373;
}
.notify .close:hover {
  color: #000;
}
.notify.fade-in {
  margin-top: 100px;
}
.notify.closed {
  opacity: 0;
}
.notify.success {
  color: hsl(120, 50%, 20%);
  border-color: hsl(120, 50%, 40%);
  background-color: hsl(120, 50%, 90%);
}
.notify.warning {
  color: hsl(56, 97%, 28%);
  border-color: hsl(56, 100%, 20%);
  background-color: hsl(56, 100%, 79%);
}
.notify.error {
  color: hsl(0, 97%, 28%);
  border-color: hsl(0, 100%, 50%);
  background-color: hsl(0, 100%, 91%);
}
.notify.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .05s;
}
@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.notify.hide {
  top: -500px;
  animation-name: moveToTop;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .3s;
}
@keyframes moveToTop {
  from {
    top: 0;
  }
  to {
    top: -500px;
  }
}
