@import "variables";

$remove-color: red;

body {
  color: $color;
  background-color: $body-bg;
}

h1, h2, h3, h4, h5 {
  color: #646464;
}

a,
a:visited,
a:focus,
.menu-item-action {
  color: #007bff;
  cursor: pointer;
}

a:hover,
a:active,
.actions a.active,
.navbar-content .dropdown .menu a:hover,
.menu-item-action:hover {
  color: red;
}

.actions a.active {
  font-weight: bold;
}

.sidebar section {
  box-shadow: 0 0 1px;
}

.sidebar header {
  background: #f0f0f0;
}

td, th {
  border: $border-dark;
}

thead td,
thead th,
.total {
  background-color: #ebe9e9;
}

input:disabled,
textarea:disabled,
option:disabled,
optgroup:disabled,
  /* Need the pseudo-class twice to have the specificity
     be at least the same as select[size][multiple] above */
select:disabled:disabled {
  color: #7f7f7f;
  background-color: #f1f1f1;
  cursor: unset;
}

.help,
.help-block {
  color: #555;
}

.clients-list .short-client {
  background-color: white;
  box-shadow: 0 0 2px;
}

.short-client .client-title {
  box-shadow: 0 1px 0 #a4a4a4;
}

.error,
.remain {
  color: red;
}

.remove,
.remove:hover,
.remove:active,
.remove:focus {
  color: $remove-color;
}

.remove .icon:hover {
  box-shadow: 0 0 2px darken($remove-color, 5%);
}

.remove:disabled {
  cursor: default;
  color: #ababab;
}

.remove .icon:hover {
  box-shadow: 0 0 2px darken($remove-color, 5%);
}

.remove:disabled .icon:hover {
  box-shadow: none;
}

.tab-content {
  border-top: $border-dark;
}

.tab-button {
  background-color: $bg-toggleable;
}

.tab-button, {
  border: $border-dark;
}

.tab-button.active {
  background: $body-bg;
  border-bottom-color: transparent;
}

.tab-button:not(.active):hover,
.tree .toggle-link:hover,
.collapsible .toggle-link:hover {
  background-color: aliceblue;
}

// tree
.tree {
  border: $border;
}

.tree .toggle-link {
  border-bottom: $border;
}

// Form

input:not([type='button']):not([type='submit']),
select,
textarea {
  box-shadow: inset 0 0 2px #dadada;
  border: 1px solid #adadad;
}

input:not([type='button']):not([type='submit']):focus,
select:focus,
textarea:focus {
  box-shadow: inset 0 0 2px #8cc9ff;
  border: 1px solid #92ccff;
  outline: none;
}

// Task
.task-footer {
  border-top: 1px solid #eee;
}

.task-state {
  color: white;
}

$task_state_new_color: blue;
$task_state_running_color: #c7254e;
$task_state_finished_color: #007fff;
$task_state_closed_color: #19c365;
$task_state_canceled_color: gray;

.task-state-new {
  background-color: $task_state_new_color;

  header {
    background-color: $task_state_new_color;
  }
}

.task-state-running {
  background-color: $task_state_running_color;

  header {
    background-color: $task_state_running_color;
  }
}

.task-state-finished {
  background-color: $task_state_finished_color;

  header {
    background-color: $task_state_finished_color;
  }
}

.task-state-closed {
  background-color: $task_state_closed_color;

  header {
    background-color: $task_state_closed_color;
  }
}

.task-state-canceled {
  background-color: $task_state_canceled_color;

  header {
    background-color: $task_state_canceled_color;
  }
}

.short-task.task-state-new {
  border-color: $task_state_new_color;
  --box-shadow-color: #{$task_state_new_color};
}

.short-task.task-state-running {
  border-color: $task_state_running_color;
  --box-shadow-color: #{$task_state_running_color};
}

.short-task.task-state-finished {
  border-color: $task_state_finished_color;
  --box-shadow-color: #{$task_state_finished_color};
}

.short-task.task-state-closed {
  border-color: $task_state_closed_color;
  --box-shadow-color: #{$task_state_closed_color};
}

.short-task.task-state-canceled {
  border-color: $task_state_canceled_color;
  --box-shadow-color: #{$task_state_canceled_color};
}

.short-task {
  background-color: $body-bg;
  border-style: solid;
  border-width: 1px;
  --box-shadow-color: black;
  box-shadow: 0 2px 2px 0 var(--box-shadow-color);
}

.short-task .menu-horiz {
  background-color: rgba(255, 255, 255, .69);
}

.short-task .menu-horiz:hover {
  background-color: white;
}

.max-item {
  background-color: #f2fdf2;
  color: #009943;
}

//----------------
.file-item,
.tooltip {
  background-color: #fdfdfd;
  border: $border;
}

// tooltip

.tooltip {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
