<template>
	<div class="form-group">
		<label>Счет:</label>
		<select class="form-control" :value="value" @change="$emit('change', $event.target.value)" v-bind="$attrs">
			<optgroup v-for="(group_accounts, group) in accounts" :label="group" :key="group">
				<option v-for="account in group_accounts" :value="account.id" :key="account.id">{{account.name}} [{{account.currency}}]</option>
			</optgroup>
		</select>
	</div>
</template>

<script>
  export default {
    name: "Account",
    inheritAttrs: false,
    model: {
      prop: 'value',
      event: 'change'
    },
    props: {
      accounts: Object,
      value: '',
    },
  }
</script>
