<template>
	<div class="autocomplete-wrapper">
		<label><slot></slot></label>
		<input class="form-control" type="text" placeholder="От 3-х символов."  autocomplete="off"
			v-model="title"
			@input="onInput"
			@keydown.down="onArrowDown"
			@keydown.up="onArrowUp"
			@keydown.esc="onEsc"
			@keydown.tab="onTab"
			@blur="onBlur"
		>
		<input :value="id" :name="$attrs.name" type="hidden">
		<ul class="autocomplete-list" v-show="isOpen" tabindex="0">
			<li class="autocomplete-result" v-for="(item, index) in results"
				:key="index" @click="setResult(item)" :class="{ 'is-active': index === selectedIndex }">
				{{ item|item }}
			</li>
		</ul>
	</div>
</template>

<script>
	import axios from 'axios';
	import {autocomplete, filters} from '../mixins';
	import {Item} from '../Item';

	export default {
		inheritAttrs: false,
		mixins: [
			autocomplete,
			filters,
		],
		data() {
			return {
			  title: this.initItem.title,
				id: this.initItem.id,
				results: [],
				isOpen: false,
				selectedIndex: -1,
				findItemsTimer: null,
			}
		},
		props: {
			initItem: {
			  type: Object,
				default: function() {
				  return new Item();
				},
			},
			queryRoute: String,
		},
		methods: {
      onTab() {
        if (-1 !== this.selectedIndex) {
          this.setResult(this.results[this.selectedIndex]);
        }
      },
			onBlur(event) {
				// Клик мышкой для выбора из списка найденных тоже вызывает потерю фокуса.
				// А нам, естественно, надо сделать выбор, а не запускать добавление.
				if (this.$el.contains(event.relatedTarget)) {
					return;
				}
				this.isOpen = false;
				// Таймер мог быть уже запущен, но раз мы ушли из поля ввода, то поиск уже не нужен.
				this.resetFindTimeout(this.findItemsTimer);
				if (-1 !== this.selectedIndex) {
					this.setResult(this.results[this.selectedIndex]);
					this.selectedIndex = -1;
					return;
				}

				this.results = [];
			},
			onInput(event) {
				this.resetFindTimeout(this.findItemsTimer);

				if (event.target.value.length > 3) {
					this.startFindItemsTimeout(event.target.value);
				}
				else {
					this.clearResult();
				}
			},
			startFindItemsTimeout(value) {
				this.resetFindTimeout(this.findItemsTimer);
				this.findItemsTimer = setTimeout(this.findItems.bind(this), 300, value);
			},
			findItems(value) {
				this.results = [];
				this.isOpen = true;

				axios.get(this.queryRoute, {
					params: {query: value}
				}).then((response) => {
					if ('error' === response.data.status) {
						this.error(response.data.msg);
						this.isOpen = false;
						return;
					}

					this.results = response.data.map(resultItem => new Item(resultItem));

					if (1 === this.results.length) {
						this.selectedIndex = 0;
					}
					else {
						// Если есть полное совпадение, то его сразу и выделим.
						let lowerCased = this.results.map(item => item.title.toLowerCase());
						this.selectedIndex = lowerCased.indexOf(value.toLowerCase());
					}
				});
			},
			/**
			 * @param {Item} item
			 */
			setResult(item) {
			  this.title = item.title;
			  this.id = item.id;
        this.isOpen = false;
			},
		},
		watch: {
		  title(newValue, oldValue) {
		    if (!newValue.length) {
		      this.id = null;
				}
			}
		}
	}
</script>
