<template>
	<div class="dropdown">
		<button class="btn btn-primary" type="button" @click="isOpen=!isOpen"><span class="icon icon-menu"></span></button>
		<ul class="menu menu-vert" v-show="isOpen">
			<li class="menu-item" v-for="(item, index) in items" :key="index">
				<a :href="item.href" class="btn-link" :title="title(item)" @click="onItemClick($event, item)">
					<span class="icon" :class="item.icon"></span>
					<span class="label">{{item.label}}</span></a>
			</li>
		</ul>
	</div>
</template>

<script>
  import {routeAdapter} from "../mixins";

  export default {
    name: "DropdownMenu",
    mixins: [
      routeAdapter,
    ],
		data() {
      return {
        isOpen: false,
			};
		},
		props: {
      items: Array,
		},
		methods: {
      title(item) {
        if ('undefined' !== typeof item.title && item.title.length) {
          return item.title;
				}
        return '';
			},
      handleClickOutside(event) {
        if (!this.$el.contains(event.target)) {
          this.isOpen = false;
        }
      },
      onItemClick(event, item) {
        if ('undefined' !== item.ajax && item.ajax) {
          this.$emit('item-clicked', item);
          event.preventDefault();
          this.isOpen = false;
				}
			}
		},
    mounted() {
      document.addEventListener('click', this.handleClickOutside);
    },
    destroyed() {
      document.removeEventListener('click', this.handleClickOutside);
    }
  }
</script>
