<template>
	<ul class="menu-horiz">
		<li class="menu-item" v-for="(item, index) in items" :key="index">
			<a class="menu-item-action" :href="item.href" :title="title(item)" @click="onItemClick($event, item)" v-if="isLink(item)">
				<span class="icon" :class="item.icon"></span>
			</a>
			<div class="menu-item-action" :title="title(item)" @click="onItemClick($event, item)" v-else>
				<span class="icon" :class="item.icon"></span>
			</div>
		</li>
	</ul>
</template>

<script>
  import {routeAdapter} from "../mixins";

  export default {
    name: "MenuHoriz",
    mixins: [
      routeAdapter,
    ],
    data() {
      return {
        isOpen: false,
      };
    },
    props: {
      items: Array,
    },
    methods: {
      title(item) {
        if ('undefined' !== typeof item.title && item.title.length) {
          return item.title;
        }
        return '';
      },
			isLink(item) {
        return ('undefined' !== typeof item.href);
			},
      onItemClick(event, item) {
        if (this.isLink(item)) {
          return;
				}
        if ('undefined' !== typeof item.callback) {
          item.callback();
          event.preventDefault();
        }
        else if ('undefined' !== item.ajax && item.ajax) {
          this.$emit('item-clicked', item);
          event.preventDefault();
        }
      }
    },
  }
</script>
