<template>
	<transition name="modal-fade">
		<div class="modal-backdrop" @click="close">
			<section class="modal" @click.stop>
				<header>
					<slot name="header"></slot><button class="btn-link close" type="button" @click="close"><span class="icon icon-close"></span></button>
				</header>
				<main>
					<slot name="body"></slot>
				</main>
				<footer v-if="!!this.$slots['footer']">
					<slot name="footer"></slot>
				</footer>
			</section>
		</div>
	</transition>
</template>

<script>
	export default {
		methods: {
			close() {
				this.$emit('closed');
			},
			onEsc(event) {
				if (event.key === 'Escape') {
					this.close();
				}
			}
		},
		mounted() {
			document.addEventListener('keydown', this.onEsc);
		},
		destroyed() {
			document.removeEventListener('keydown', this.onEsc);
		}
	}
</script>
