<template>
	<div class="my-accounts">
		<table class="table table-condensed table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th>Группа</th>
				<th>Название</th>
				<th>Валюта</th>
				<th>Доступен</th>
				<th>Примечание</th>
				<th>Действия</th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="(account, index) in accounts">
				<td>
					<input type="hidden" :name="inputName(index, 'id')" :value="account.id">
					<select class="form-control account-type" :name="inputName(index, 'type_id')" v-model="account.type_id" :disabled="!account.is_active">
						<option v-for="type in types" :value="type.id">{{type.name}}</option>
					</select>
				</td>
				<td><input type="text" class="form-control" :name="inputName(index, 'name')" v-model="account.name" :disabled="!account.is_active"></td>
				<td>
					<select class="form-control currency" :name="inputName(index, 'currency')" v-model="account.currency" :disabled="!account.is_active" v-if="currencies.length">
						<option v-for="currency in currencies" :value="currency.code">{{currency.name}}</option>
					</select>
					<div v-else>{{account.currency}}</div>
				</td>
				<td>
					<input type="checkbox" class="form-check-input" :name="inputName(index, 'is_active')" :value="account.is_active ? 1 : 0" v-model="account.is_active">
				</td>
				<td><input type="text" class="form-control" :name="inputName(index, 'note')" v-model="account.note" :disabled="!account.is_active"></td>
				<td>
					<button v-if="!account.has_payments" type="button" class="btn btn-link remove" @click="remove(index)" title="Удалить"><span class="icon icon-delete" :disabled="!account.is_active"></span></button>
				</td>
			</tr>
			<tr>
				<td colspan="6">
					<button type="button" class="btn btn-link" @click="add">Добавить</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
  import {form, Formatter, routeAdapter} from "../mixins";

  class Account {
    constructor(type_id) {
      this.id = '';
      this.type_id = type_id;
      this.name = '';
      this.currency = 'RUB';
      this.is_active = 1;
      this.note = '';
      this.has_payments = false;
    }
  }

  export default {
    name: "MyAccounts",
    mixins: [
      form,
      Formatter,
      routeAdapter,
    ],
		data() {
      return {
        accounts: this.initAccounts,
			}
		},
		props: {
      initAccounts: Array,
			types: Array,
			currencies: Array,
		},
		methods: {
      inputName(index, name) {
        return form.methods.inputName.call(this, 'accounts', index, name);
      },
			add() {
        this.accounts.push(new Account(this.types[0].id));
			},
			remove(index) {
        this.accounts.splice(index, 1);
			},
		},
  }
</script>
