<template>
	<div>
		<input :value="value" :name="$attrs.name" type="hidden">
		<div v-if="sites.length" class="form-group">
			<label v-if="!!$slots.default"><slot></slot></label>
			<select class="form-control" :value="value" @change="$emit('change', $event.target.value)">
				<option value="">- Без сайта -</option>
				<option v-for="site in sites" :value="site.id">{{site.url}}</option>
			</select>
		</div>
	</div>
</template>

<script>
  export default {
    name: "Site",
    inheritAttrs: false,
    model: {
      prop: 'value',
      event: 'change'
    },
		props: {
      sites: Array,
      value: {
        type: Number | String,
				default: '',
			},
		},
  }
</script>
