<template>
	<div class="user-currencies">
		<template v-if="!!$slots.default"><slot></slot></template>
		<input type="hidden" name="currencies" :value="selectedCurrenciesValue">
		<div class="inline-wrapper">
			<div class="selected">
				<div class="currency" v-for="currency in selectedCurrencies" :key="currency.code">{{currency.code}}
					<button class="btn-link remove" type="button" @click="remove(currency)" title="Удалить"><span class="icon icon-delete"></span></button>
				</div>
			</div>
			<div class="options">
				<button class="btn-link" type="button" @click.stop="selectClick" v-show="!isOpen">выбрать</button>
				<div class="currencies-select" v-show="isOpen">
					<input class="form-control" type="text" placeholder="От 2-х символов." autocomplete="off"
						ref="input"
						v-on="inputListeners"
						v-model="search"
						@input="onInput"
						@keydown.down.stop.prevent="onArrowDown"
						@keydown.up.stop.prevent="onArrowUp"
						@keydown.enter.stop.prevent="onEnter"
						@keydown.esc.stop.prevent="onEsc"
						@keydown.tab.stop="onTab"
					>
					<ul class="autocomplete-list currencies-list" v-if="visibleCurrencies.length" ref="items_list">
						<li class="autocomplete-result currencies-result" v-for="(currency, index) in visibleCurrencies" :key="currency.code" :class="{ 'is-active': index === selectedIndex }">
							<button type="button" class="btn-as-span" @click.stop="add(currency)">
								<span class="code">[{{ currency.code }}]</span>
								<span class="title">{{ currency.name }}</span>
							</button>
						</li>
					</ul>
					<ul class="autocomplete-list" tabindex="0" v-else>
						<li class="autocomplete-result">не найдено</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
  /**
   * Sort object properties (only own properties will be sorted).
   * @param {object} obj object to sort properties
   * @param {string|int} property 1 - sort object properties by specific value.
   *
   * @returns {Array} array of items in [[key,value],[key,value],...] format.
   */
  function sortObjectByPropertyValue(obj, property) {
    property = property || 1; // by default first key

    let sortable = [];
    for (let key in obj) {
      if (obj.hasOwnProperty(key)) {
        sortable.push([key, obj[key]]);
      }
    }
    sortable.sort(function (a, b) {
      let x = a[1][property].toLowerCase();
      let y = b[1][property].toLowerCase();

      if (x < y) {
        return -1;
      }
      else if (x > y) {
        return 1;
      }
      return 0;
    });

    let newObject = {};

    for (let i = 0; i < sortable.length; i++) {
      let key = sortable[i][0];
      newObject[key] = sortable[i][1];
    }

    return newObject;
  }

  export default {
    name: "UserCurrencies",
    data() {
      return {
        currencies: this.getAllCurrencies(),
        selectedCurrencies: this.getSelectedCurrencies(),
        isOpen: false,
        search: '',
        selectedIndex: -1,
      }
    },
    props: {
      initCurrencies: Array,
      allCurrencies: Object,
    },
    computed: {
      inputListeners() {
        return Object.assign({}, this.$listeners, {
            input(event) {
            }
          }
        );
      },
      selectedCurrenciesValue() {
        return Object.keys(this.selectedCurrencies).join(',');
      },
      visibleCurrencies() {
        let visible = [];
        for (let code in this.currencies) {
          if (this.currencies[code].visible) {
            visible.push(this.currencies[code]);
          }
        }
        return visible;
      },
    },
    methods: {
      getAllCurrencies() {
        let allCurrencies = {};
        for (let code in this.allCurrencies) {
          if ('undefined' === typeof this.initCurrencies[code]) {
            allCurrencies[code] = this.allCurrencies[code];
            allCurrencies[code].visible = true;
          }
        }
        return allCurrencies;
      },
      getSelectedCurrencies() {
        return this.initCurrencies;
      },
			selectClick() {
        this.isOpen = !this.isOpen;
        if (this.isOpen) {
					this.setSearchFocus();
				}
			},
      remove(currency) {
        let code = currency.code;
        this.currencies[code] = this.selectedCurrencies[code];
        delete this.selectedCurrencies[code];
        this.selectedCurrencies = Object.assign({}, this.selectedCurrencies);

        let ordered = sortObjectByPropertyValue(this.currencies, 'name');
        this.currencies = Object.assign({}, ordered);
      },
      onArrowDown() {
        if (this.selectedIndex < this.visibleCurrencies.length) {
          this.selectedIndex = this.selectedIndex + 1;
        }
      },
      onArrowUp() {
        if (this.selectedIndex > 0) {
          this.selectedIndex = this.selectedIndex - 1;
        }
      },
      onEsc() {
        this.isOpen = false;
        this.clearResult();
      },
      onInput(event) {
        let str = this.search.toLowerCase();
        if (str.length > 1) {
          for (let code in this.currencies) {
            let currency = this.currencies[code];
            currency.visible = currency.name.toLowerCase().includes(str)
							|| currency.code.toLowerCase().includes(str);
          }
        }
        else {
          this._clearFiltering();
        }
      },
      onEnter() {
        if (-1 !== this.selectedIndex) {
          this.add(this.visibleCurrencies[this.selectedIndex]);
          this.selectedIndex = -1;
        }
      },
      onTab() {
        if (-1 !== this.selectedIndex) {
          this.add(this.visibleCurrencies[this.selectedIndex]);
          this.selectedIndex = -1;
        }
      },
      add(currency) {
        let code = currency.code;

        this.selectedCurrencies[code] = this.currencies[code];
        delete this.currencies[code];
        this.selectedCurrencies = Object.assign({}, this.selectedCurrencies);

        let ordered = sortObjectByPropertyValue(this.currencies, 'name');
        this.currencies = Object.assign({}, ordered);
        this.clearResult();
      },
      clearResult() {
        this.search = '';
        this.selectedIndex = -1;
				this._clearFiltering();
      },
			_clearFiltering() {
        for (let code in this.currencies) {
          this.currencies[code].visible = true;
        }
			},
      handleClickOutside(event) {
        if (!this.isOpen) {
          return;
				}
        if (!this.$el.contains(event.target)
          && !this.$refs.items_list.contains(event.target)) {
          this.isOpen = false;
          this.clearResult();
        }
      },
      setSearchFocus() {
        this.$nextTick(() => {
          this.$refs.input.focus();
        });
      },
    },
    mounted() {
      document.addEventListener('click', this.handleClickOutside);
    },
    destroyed() {
      document.removeEventListener('click', this.handleClickOutside);
    }
  }
</script>
