<template>
  <section class="generator-doc" :class="doc_.enabled ? 'enabled' : 'disabled'">
    <div class="form-inline">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" v-model="doc_.enabled" @change="onDocEnableChanged">
      </label>
      <div>
        <label>Дата:</label><input type="date" :name="`docs[${doc_.year_month}][date]`" v-model="doc_.doc_date" :disabled="!doc_.enabled"/>
      </div>
      <div>
        <label>№ документа:</label><input type="number" :name="`docs[${doc_.year_month}][num]`" v-model="doc_.doc_num" @input="onDocNumChanged" :disabled="!doc_.enabled"/>
      </div>
    </div>
    <task v-for="task in doc_.tasks" :task="task" :is-one="doc_.tasks.length === 1" :doc-enabled="doc_.enabled" :key="task.id" :year-month="doc_.year_month" @on-enable-changed="onTaskEnableChanged" @task-dates-updated="onTaskDatesUpdated"></task>
  </section>
</template>

<script>
import Task from './Task.vue';

export default {
  name: 'Document',
  components: {
    Task,
  },
  props: {
    doc: Object,
  },
  data() {
    return {
      doc_: this.doc,
    };
  },
  methods: {
    onDocNumChanged() {
      this.$emit('doc-num-changed', {
        year_month: this.doc_.year_month,
        doc_date: this.doc_.doc_date,
        doc_num: this.doc_.doc_num,
      });
    },
    onTaskEnableChanged() {
      let old_doc_enabled = this.doc_.enabled;
      let is_doc_enabled = false;
      for (let task of this.doc_.tasks) {
        if (task.enabled) {
          is_doc_enabled = true;
          break;
        }
      }
      this.doc_.enabled = is_doc_enabled;
      if (old_doc_enabled !== this.doc_.enabled) {
        this.onDocEnableChanged();
      }
    },
    onDocEnableChanged() {
      this.$emit('doc-enable-changed', {
        year_month: this.doc_.year_month,
        enabled: this.doc_.enabled,
      });
    },
    onTaskDatesUpdated(data) {
      this.$emit('task-dates-updated', data);
    },
  },
};
</script>
