<template>
  <div>
    <div class="form-group form-inline" v-if="!onlyClosed">
      <label>Выбор задач:</label>
      <label v-for="(label, key) in modes" :key="key">
        <input type="radio" :value="key" v-model="mode">{{ label }}
      </label>
    </div>
    <component :is="generatorForm" @on-closed="generatorForm=null" v-bind="componentProperties"></component>
  </div>
</template>

<script>
import {form, Formatter} from '../../../mixins';
import TasksFinished from './TasksFinished.vue';
import TasksClosed from './TasksClosed.vue';

export default {
  name: 'Generator',
  components: {
    TasksFinished,
    TasksClosed,
  },
  mixins: [
    form,
    Formatter,
  ],
  props: {
    clientId: String,
    csrf: String,
    canToPdf: Boolean,
    onlyClosed: false,
  },
  data() {
    return {
      modes: {
        finished: 'К оплате',
        closed: 'Оплаченные',
      },
      mode: this.onlyClosed ? 'closed' : 'finished',
    };
  },
  computed: {
    generatorForm() {
      switch (this.mode) {
        case 'finished':
          return TasksFinished;

        default:
          return TasksClosed;
      }
    },
    componentProperties() {
      return {
        clientId: this.clientId,
        csrf: this.csrf,
        canToPdf: this.canToPdf,
      };
    },
  },
};
</script>
