<template>
  <div>
    <template v-if="!is_initializing">
      <div v-if="error">
        {{ error }}
      </div>
      <form class="documents-generator-form" method="post"
            :action="route('client.documents.generate', {client: this.clientId})"
            @submit="onSubmitted"
            v-else>
        <div class="form-check form-group">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              name="save_to_client_files"
              value="1"
              v-model="save_to_client_files"/>сохранить в файлах клиента</label>
        </div>
        <div class="form-check form-group" v-if="canToPdf">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              name="to_pdf"
              v-model="to_pdf"/>как PDF</label>
        </div>
        <div class="form-group">
          <label>Дата документа:</label>
          <div class="form-group">
            <label v-for="(label, key) in docDateModes" :key="key">
              <input type="radio" :value="key" v-model="docDateMode" @change="onDocDateModeChanged">{{ label }}
            </label>
          </div>
        </div>
        <div class="form-item">
          <label>Годы:</label>
          <div class="form-inline">
            <label v-for="(year) in years" :key="year">
              <input type="checkbox" :value="year" v-model="selectedYears" @change="onYearsChanged">{{ year }}
            </label>
          </div>
        </div>
        <div class="form-group" v-if="templates.length > 1">
          <label>Выберите щаблон:</label>
          <div class="form-check form-group" v-for="template in templates">
            <label><input type="radio" name="template" v-model="selectedTemplateId" :value="template.id">{{ template.file.name }} {{ template.note }}</label>
          </div>
        </div>
        <div v-else-if="templates.length > 0">
          <input type="hidden" name="template" :value="selectedTemplateId">
          <p>Шаблон: {{ templates[0].file.name }}</p>
        </div>
        <div v-if="byYears.length" class="generator-docs">
          <document :doc="doc" v-for="doc in byYears" :key="doc.year_month" @doc-num-changed="onDocNumChanged" @doc-enable-changed="onDocEnableChanged" @task-dates-updated="onTaskDatesUpdated"></document>
        </div>
        <div class="form-group form-actions" v-if="hasEnabledDocuments">
          <button type="submit" class="btn btn-success" :disabled="is_submitted">Сгенерировать</button>
        </div>
        <div v-html="csrf"></div>
      </form>
    </template>
  </div>
</template>

<script>
import {form, Formatter, routeAdapter} from '../../../mixins';
import {Utils} from '../../../Utils';
import Document from './Document.vue';
import axios from 'axios';

export default {
  name: 'TasksClosed',
  mixins: [
    form,
    Formatter,
    routeAdapter,
  ],
  components: {
    Document,
  },
  props: {
    clientId: String,
    csrf: String,
    canToPdf: Boolean,
  },
  data() {
    return {
      is_initializing: true,
      last_doc_num: null,
      documents: [],
      templates: [],
      selectedTemplateId: '',
      docDateModes: {
        last_day_of_month: 'последний день месяца',
        task_completed: 'день завершения задачи',
        first_day_of_next_month: 'первый день следующего месяца',
      },
      docDateMode: 'last_day_of_month',
      years: [],
      selectedYears: [],
      error: null,
      save_to_client_files: true,
      to_pdf: true,
      is_submitted: false,
    };
  },
  computed: {
    byYears() {
      let documents = [];
      for (let i in this.documents) {
        let year = this.documents[i].doc_year;
        if (this.selectedYears.includes(year)) {
          documents.push(this.documents[i]);
        }
      }
      return documents;
    },
    hasEnabledDocuments() {
      for (let doc of this.byYears) {
        if (doc.enabled) {
          return true;
        }
      }
      return false;
    },
  },
  methods: {
    onDocDateModeChanged() {
      // Независимо от включенности документа,
      // чтобы при включении выключенного дата соответствовала настройкам.
      for (let i in this.byYears) {
        this.byYears[i].doc_date = this.getDocDate(this.byYears[i].year_month);
      }
    },
    onDocNumChanged(docData) {
      let doc_num = this.last_doc_num + 1;
      for (let i in this.byYears) {
        if (this.byYears[i].year_month === docData.year_month) {
          doc_num = parseInt(docData.doc_num) + 1;
        }
        else if (doc_num) {
          if (this.byYears[i].enabled) {
            this.byYears[i].doc_num = doc_num++;
          }
        }
      }
    },
    onDocEnableChanged(docData) {
      let doc_num = this.last_doc_num + 1;
      for (let i in this.byYears) {
        if (this.byYears[i].enabled) {
          this.byYears[i].doc_num = doc_num++;
        }
      }
    },
    getDocDate(year_month) {
      let documentDate = new Date(`${year_month}-01`);
      switch (this.docDateMode) {
        case 'last_day_of_month': {
          return Utils.lastDayMonthAsStr(documentDate);
        }

        case 'task_completed':
          let doc = this.documents.find(doc => doc.year_month === year_month);
          let len = doc.tasks.length;
          let lastTask = doc.tasks[len - 1];
          return lastTask.completed_at;

        case 'first_day_of_next_month': {
          return Utils.firstDayNextMonthAsStr(documentDate);
        }

        default:
          break;
      }
    },
    onTaskDatesUpdated(data) {
      let old_year_month = data.yearMonth;
      let completedAt = new Date(data.completed_at);
      let year = completedAt.getFullYear();
      let new_year_month = year + '-' + (completedAt.getMonth() + 1);
      let doc_index = this.documents.findIndex(doc => doc.year_month === old_year_month);
      let doc = this.documents[doc_index];
      let task_index = doc.tasks.findIndex(task => task.id === data.task_id);
      let task = doc.tasks[task_index];
      doc.tasks.splice(task_index, 1);
      doc = this.documents.find(doc => doc.year_month === new_year_month);
      if (undefined === doc) {
        let newDoc = {
          doc_date: this.getDocDate(new_year_month),
          doc_num: 1,
          doc_year: year,
          enabled: true,
          year_month: new_year_month,
          tasks: [task],
        };
        this.documents.push(newDoc);
        this.documents.sort((doc1, doc2) => parseInt(doc1.year_month.replace('-', '')) - parseInt(doc2.year_month.replace('-', '')));
        this.onYearsChanged();
      }
      else {
        doc.tasks.push(task);
      }
    },
    onYearsChanged() {
      let doc_num = this.last_doc_num + 1;
      for (let i in this.byYears) {
        if (this.byYears[i].enabled) {
          this.byYears[i].doc_num = doc_num++;
        }
      }
    },
    onSubmitted() {
      this.is_submitted = true;
    },
  },
  mounted() {
    this.error = null;
    axios.get(route('client.documents.data_to_generator_closed', {client: this.clientId})).then((response) => {
      if ('success' === response.data.status) {
        this.documents = [];

        let data = response.data;
        this.last_doc_num = data.new_number > 1 ? data.new_number - 1 : 0;
        let new_number = data.new_number;

        this.years = data.years;
        this.selectedYears = this.years;
        this.templates = data.templates;
        this.selectedTemplateId = this.templates[0].id;

        let keys = Object.keys(data.tasks);
        for (let year_month of keys) {
          let doc_date = this.getDocDate(year_month);
          let doc_year = year_month.split('-')[0];
          this.documents.push({
            year_month: year_month,
            doc_year: parseInt(doc_year),
            doc_num: new_number++,
            doc_date: doc_date,
            enabled: true,
            tasks: data.tasks[year_month].map(function (task) {
              task.enabled = true;
              return task;
            }),
          });
        }
      }
      else {
        this.error = response.data.msg;
      }
      this.is_initializing = false;
    });
  },
};
</script>
