<template>
  <div class="documents-generator-task">
    <input type="hidden" :name="`docs[${yearMonth}][tasks][${task.id}][id]`" :value="task.id" v-if="docEnabled"/>
    <div class="form-group">
      <div v-if="isOne">
        {{ task.title }}
        <span v-if="taskHasBudget">{{ formatAmount(task.budget, task.currency) }}</span>
        <span v-if="task.hours">{{ task.hours }}ч.</span>
      </div>
      <label class="form-check-label" v-else>
        <input type="checkbox" class="form-check-input" v-model="task_.enabled" @change="onEnableChanged" :disabled="!docEnabled">
        {{ task.title }}
        <span v-if="taskHasBudget">{{ formatAmount(task.budget, task.currency) }}</span>
        <span v-if="task.hours">{{ task.hours }}ч.</span>
      </label>
      <div class="task-period inline-wrapper">
        <label>Период:</label>
        <div class="task-dates">
          <div class="date launched-at" v-if="!is_editing">{{ launchedAd }}</div>
          <input type="date" :name="`docs[${yearMonth}][tasks][${task.id}][launched_at]`" v-model="task_.launched_at" v-else/>
          -
          <div class="date completed-at" v-if="!is_editing">{{ completedAt }}</div>
          <input type="date" :name="`docs[${yearMonth}][tasks][${task.id}][completed_at]`" v-model="task_.completed_at" v-else/>
        </div>
        <template v-if="task_.enabled">
          <button type="button" class="btn-link" @click="is_editing = !is_editing" v-if="!is_editing"><span class="icon icon-edit"></span></button>
          <button type="button" class="btn-link" @click="saveDates" v-else><span class="icon icon-save"></span></button>
        </template>
      </div>
      <ul class="sub-task" v-if="!taskHasBudget">
        <li v-for="subTask in task.items">
          <label class="form-check-label">
            <input type="hidden" :name="`docs[${yearMonth}][tasks][${task.id}][sub_task_ids][]`" :value="subTask.id" v-if="docEnabled && task_.enabled && subTask.enabled"/>
            <input type="checkbox" class="form-check-input" v-model="subTask.enabled" :disabled="!docEnabled || !task_.enabled">
            {{ subTask.title }} ({{ formatAmount(subTask.budget, task.currency) }}
            <template v-if="subTask.hours">, {{ subTask.hours }}ч.</template>
            )
          </label>
        </li>
      </ul>
    </div>
    <div class="form-group" v-if="task.items.length > 1">
      <label>Итого</label>
      <div class="inline-wrapper"><label>К оплате:</label><span>{{ formatAmount(task.budget, task.currency) }}</span></div>
      <div class="inline-wrapper" v-if="task.hours"><label>Часов:</label><span>{{ task.hours }}</span></div>
    </div>
  </div>
</template>

<script>
import {Formatter, routeAdapter} from '../../../mixins';
import axios from 'axios';

export default {
  name: 'Task',
  mixins: [
    Formatter,
    routeAdapter,
  ],
  props: {
    yearMonth: String,
    task: Object,
    isOne: true,
    docEnabled: true,
  },
  data() {
    return {
      task_: this.task,
      is_editing: false,
      client_id: '',
    };
  },
  computed: {
    taskHasBudget() {
      return 'undefined' !== typeof this.task_.budget && this.task_.budget.length;
    },
    launchedAd() {
      return this.task_.launched_at.split('-').reverse().join('.');
    },
    completedAt() {
      return this.task_.completed_at.split('-').reverse().join('.');
    },
  },
  methods: {
    onEnableChanged() {
      this.$emit('on-enable-changed', this.task_.enabled);
    },
    saveDates() {
      let params = {client: this.client_id, task: this.task_.id};
      let data = {
        launched_at: this.task_.launched_at,
        completed_at: this.task_.completed_at,
      };
      axios.patch(route('client.task.update_dates', params), data).then((response) => {
        this.$emit('task-dates-updated', {
          yearMonth: this.yearMonth,
          task_id: this.task.id,
          completed_at: this.task_.completed_at,
        });
      });
      this.is_editing = false;
    },
  },
  mounted() {
    this.client_id = document.getElementById('client-id').value;
  },
};
</script>
