<template>
	<div class="tree-child">
		<div class="toggle-link" @click="item.is_expanded = !item.is_expanded">
			<label>{{item.label}}</label>
			<div class="amount">{{formatAmount(item.amount.amount, item.amount.currency)}}</div>
		</div>
		<ul class="tree-children" v-if="itemHasChildren(item)" v-show="item.is_expanded">
			<li v-for="child in item.children" :key="child.id">
				<child :data="child"></child>
			</li>
		</ul>
	</div>
</template>

<script>
  import {Formatter} from "../../mixins";

  export default {
    name: "Child",
    mixins: [
      Formatter,
    ],
    data() {
      return {
        item: this.data,
      };
    },
    props: {
      data: Object,
    },

    methods: {
			itemHasChildren(item) {
			  return Object.keys(item.children).length > 0;
			},
    },
  }
</script>
