<template>
	<ul class="tree">
		<li class="tree-root-item" v-for="item in items" :key="item.id">
			<child :data="item"></child>
		</li>
	</ul>
</template>

<script>
	import Child from "./Child";

  export default {
    name: "Tree",
		components: {
      Child,
		},
		data() {
      return {
        items: this.initItems(this.data),
			};
		},
		props: {
      data: Object,
		},
		methods: {
			initItems(data) {
        let items = [];
        for(let i in data) {
          let item = data[i];
          item.is_expanded = false;
          item.children = this.initItems(item.children);
          items.push(item);
        }
        return items;
			}
		},
  }
</script>
