<template>
	<fieldset class="payments">
		<legend>Платежи:</legend>
		<div v-if="hasAccounts">
			<div class="form-group item payment" v-for="(payment, index) in payments" :key="index">
				<input type="hidden" :name="inputName(index, 'id')" :value="payment.id">
				<input type="hidden" :name="inputName(index, 'task_id')" :value="payment.task_id">
				<div v-if="isFixed(payment)">
					<input type="hidden" :name="inputName(index, 'created_at')" :value="payment.created_at">
					<input type="hidden" :name="inputName(index, 'account_id')" :value="payment.account_id">
					<input type="hidden" :name="inputName(index, 'amount')" :value="payment.amount">
					<input type="hidden" :name="inputName(index, 'rate')" :value="payment.rate">
					<input type="hidden" :name="inputName(index, 'note')" :value="payment.note">
				</div>
				<div class="form-group form-inline">
					<div class="form-group required">
						<label>Дата:</label>
						<input class="form-control payment-date" type="date"
							:name="inputName(index, 'created_at')" v-model="payment.created_at" required :disabled="isFixed(payment)">
					</div>
					<account :accounts="accounts" v-model="payment.account_id" :name="inputName(index, 'account_id')" :disabled="isFixed(payment)"></account>
					<div class="inline-wrapper">
						<div class="form-group required">
							<money v-model="payment.amount" :currency="currency" :name="inputName(index, 'amount')" :disabled="isFixed(payment)">Сумма:</money>
						</div>
						<div class="form-group">
							<label>Курс:</label>
							<input class="form-control rate" type="text"
								:name="inputName(index, 'rate')" v-model="payment.rate" :disabled="isFixed(payment)">
						</div>
					</div>
					<button type="button" class="btn-link remove" @click="removePayment(index)" title="Удалить" :disabled="isFixed(payment)"><span class="icon icon-delete"></span></button>
				</div>
				<div class="form-group">
					<label>Примечание:</label>
					<input class="form-control payment-note" type="text"
						:name="inputName(index, 'note')" v-model="payment.note" :disabled="isFixed(payment)">
				</div>
			</div>
			<div>
				<button type="button" class="btn-link" @click="addPayment">Ещё платеж</button>
			</div>
		</div>
		<div class="alert alert-warning" v-else>Для платежей не настроены <a :href="route('accounts')">целевые счета.</a></div>
	</fieldset>
</template>

<script>
  import {form, Formatter, routeAdapter} from "../../mixins";
  import Account from "../Account";
  import Money from "../Money";

  export default {
    name: "Payments",
    components: {
      Account,
      Money,
    },
    mixins: [
      routeAdapter,
      form,
      Formatter,
    ],
    data: function () {
      return {
        payments: this.initPayments,
      };
    },
    props: {
      taskId: {
        type: Number | String,
        default: '',
      },
      initPayments: {
        type: Array,
				default: function() {
          return [];
        },
			},
      accounts: Object,
			currency: String,
    },
    computed: {
      hasAccounts() {
        return Object.keys(this.accounts).length;
      },
      payed() {
        let total = this.payments.reduce((total, item) => {
          if ('' === item.amount || 0 == item.amount) {
            return total;
          }

          let itemAmount = item.amount.toString().replace(/\s/g, '').replace(',', '.');

          if (-1 !== itemAmount.indexOf('.')) {
            itemAmount = parseFloat(itemAmount);
          }
          else {
            itemAmount = parseInt(itemAmount, 10);
          }

          return total + itemAmount;
        }, 0);

        if (isNaN(total)) {
          return '-';
        }
        return this.formatNumber(total, 2, ',', ' ');
      },
    },
    methods: {
      inputName(index, name) {
        return form.methods.inputName.call(this, 'payments', index, name);
      },
			isFixed(payment) {
        return payment.id.toString().length > 0;
			},
      addPayment() {
        this.payments.push({
          id: '',
          task_id: this.taskId,
          created_at: '',
          account_id: '',
          note: '',
          amount: '',
          rate: 1.00
        });
      },
      removePayment(index) {
        this.payments.splice(index, 1);
      },
    },
  }
</script>
