<template>
  <section class="short-task" :class="task.state.css_class">
    <header>
      <div class="task-state">{{ task.state.title }}</div>
      <menu-horiz v-if="menu.length" :items='menu'></menu-horiz>
    </header>
    <main>
      <div class="task-title">
        <a :href="route('client.task.show', {client: this.task.client.id, task: this.task.id})" class="task-link" :title="task.title">{{ task.title }}</a>
      </div>
      <div class="inline-wrapper">
        <label>Клиент:</label>
        <a :href="route('client.show', {client: this.task.client.id})" class="client-name">{{ task.client.title }}</a>
      </div>
      <div class="task-budget inline-wrapper">
        <label>Бюджет:</label><span class="amount">{{ formatAmount(task.budget, task.currency) }}</span>
      </div>
      <div class="task-payments" v-if="task.payments.length">
        <div class="inline-wrapper" v-for="payment in task.payments">
          <span class="payment-date">{{ payment.created_at }}</span><span class="amount">{{ formatAmount(payment.amount, payment.currency) }}</span></div>
      </div>
      <div class="task-to-pay-amount inline-wrapper" :class="{'remain': remainPayAmount}" v-if="isFinished">
        <label>К оплате:</label><span class="amount">{{ formatAmount(remainPayAmount, task.currency) }}</span>
      </div>
    </main>
    <modal v-if="modalContent" @closed="onClose">
      <template #header>{{ modalContent.title }}</template>
      <template #body>
        <div v-if="isModalHtml" v-html="modalContent.html"></div>
        <div v-else>
          <payments
            :task-id="task.id"
            :init-payments="payments"
            :accounts='accounts'
            :currency="task.currency"
          ></payments>
        </div>
      </template>
      <template #footer v-if="!isModalHtml">
        <button type="button" class="btn-sm btn-primary" @click="savePayments">Сохранить</button>
      </template>
    </modal>
  </section>
</template>

<script>
import {Formatter, routeAdapter} from '../../mixins';
import MenuHoriz from '../MenuHoriz';
import Modal from '../Modal';
import Payments from './Payments';

const TASK_STATE = {
  NEW: 'new',
  RUNNING: 'running',
  FINISHED: 'finished',
  CLOSED: 'closed',
  CANCELED: 'canceled',
};

export default {
  name: 'ShortCard',
  components: {
    MenuHoriz,
    Modal,
    Payments,
  },
  mixins: [
    routeAdapter,
    Formatter,
  ],
  data() {
    return {
      task: this.initTask,
      payments: [],
      accounts: Object,
      lastPaymentAccountId: Number | String,
      modalContent: null,
      isModalHtml: false,
    };
  },
  props: {
    initTask: Object,
  },
  computed: {
    remainPayAmount() {
      let amount = 0.0;
      this.task.payments.forEach((payment) => {
        amount += payment.amount;
      });
      let remain = this.task.budget - amount;
      if (remain >= 0.0) {
        return remain;
      }
      return 0;
    },
    menu() {
      let params = {client: this.task.client.id, task: this.task.id};
      let menu_items = [];

      menu_items.push({
        title: 'Посмотреть в модальном окне',
        icon: 'icon-show',
        callback: () => {
          axios.get(route('client.task.view', params)).then((response) => {
            if ('error' !== response.data.status) {
              this.isModalHtml = true;
              this.modalContent = {
                title: response.data.title,
                html: response.data.html,
              };
            }
          });
        },
      });

      if (this.isCanBeFinished) {
        menu_items.push({
          title: 'Завершить задачу',
          icon: 'icon-finish',
          callback: () => {
            axios.post(route('client.task.finish', params)).then((response) => {
              if ('error' !== response.data.status) {
                this.task.state = response.data.state;
                this.success(response.data.msg, 'Завершение задачи', 0);
              }
              else {
                this.error(response.data.msg);
              }
            });
          },
        });
      }

      if (this.isCanBePayed) {
        menu_items.push({
          title: 'Добавить платеж',
          icon: 'icon-payment',
          callback: () => {
            axios.get(route('client.task.payments', params)).then((response) => {
              if ('error' !== response.data.status) {
                let payed = 0.0;

                for (let i in response.data.payments) {
                  let payment = response.data.payments[i];
                  payment.amount = parseFloat(payment.amount);
                  payed += payment.amount;
                  this.payments.push(payment);
                }

                this.accounts = response.data.accounts;

                let lastPaymentAccountId = response.data.last_payment_account_id;
                this.payments.push({
                  id: '',
                  task_id: this.task.id,
                  created_at: this.formatDateToStorage(new Date()),
                  account_id: lastPaymentAccountId,
                  note: '',
                  amount: this.task.budget - payed,
                  rate: 1.00,
                });
                this.isModalHtml = false;
                this.modalContent = {
                  title: 'Платежи задачи ' + this.task.title,
                };
              }
              else {
                this.error(response.data.msg);
              }
            });
          },
        });
      }

      if (this.isCanBeEdited) {
        menu_items.push({
          title: 'Редактировать',
          href: route('client.task.edit', params),
          icon: 'icon-edit',
        });
      }

      return menu_items;
    },
    isCanBeFinished() {
      return !this.isFinished && !this.isClosed;
    },
    isCanBeEdited() {
      return this.task.client.is_selectable;
    },
    isCanBePayed() {
      return this.isFinished || TASK_STATE.RUNNING === this.task.state.key;
    },
    isFinished() {
      return TASK_STATE.FINISHED === this.task.state.key;
    },
    isClosed() {
      return TASK_STATE.CLOSED === this.task.state.key;
    },
  },
  methods: {
    onClose() {
      this.modalContent = null;
      this.payments = [];
      this.isModalHtml = false;
    },
    savePayments() {
      let url = route('client.task.payments.save', {client: this.task.client.id, task: this.task.id});
      axios.post(url, this.payments).then((response) => {
        if ('error' !== response.data.status) {
          this.onClose();
          this.success(response.data.msg);
          // @todo: на главной, где задачи только активные, убираем.
          // на других - просто меняем статус.
          if (response.data.is_closed) {
            this.$emit('task-closed', this.task);
          }
          else {
            this.task.payments = response.data.payments;
          }
        }
        else {
          this.error(response.data.msg);
        }
      });
    },
  },
};
</script>
