<template>
<fieldset class="form-group subtasks">
	<legend>Подзадачи:</legend>
	<div class="help-block">Каждая подзадача пойдет в акт отдельным пунктом как есть (исключая примечание).</div>
	<div class="form-group item subtask" v-for="(sub_task, index) in subTasks" :key="index">
		<input :name="inputName(index, 'id')" v-model="sub_task.id" hidden>
		<div class="form-group required">
			<button class="btn-link remove" type="button" v-show="index > 0" @click="removeSubTask(index)" title="Удалить"><span class="icon icon-delete"></span></button>
			<label>Название:</label>
			<textarea class="form-control subtask-title" rows="1"
				:name="inputName(index, 'title')"
				v-model="sub_task.title" required></textarea>
		</div>
		<div class="form-group">
			<label>Примечание:</label>
			<textarea class="form-control subtask-note" rows="1"
				:name="inputName(index, 'note')"
				v-model="sub_task.note"></textarea>
		</div>
		<div class="form-group form-inline">
			<money
				:name="inputName(index, 'budget')"
				v-model="sub_task.budget"
				:currency="currency"
				ref="budget"
				class="required">Бюджет</money>
			<div>
				<label>Часов:</label>
				<input class="form-control subtask-hours" type="number" step="0.01" :name="inputName(index, 'hours')" v-model="sub_task.hours">
			</div>
		</div>
	</div>
	<div>
		<button type="button" class="btn-link" @click="addSubTask">Ещё подзадача</button>
	</div>
</fieldset>
</template>

<script>
  import {form, Formatter, routeAdapter} from "../../mixins";
  import Money from "../Money";

  export default {
    name: "SubTasks",
    mixins: [
      routeAdapter,
      form,
      Formatter,
    ],
    components: {
      Money,
    },
    data: function () {
      return {
        subTasks: this.initSubTasks,
      };
    },
    props: {
      initSubTasks: Array,
      currency: String,
    },
    computed: {
      budget: function() {
        let budget = this.subTasks.reduce((total, item) => {
          if ('' === item.budget || 0 === item.budget) {
            return total;
          }

          let itemBudget = item.budget.toString().replace(/\s/g, '').replace(',', '.');

          if (-1 !== itemBudget.indexOf('.')) {
            itemBudget = parseFloat(itemBudget);
          }
          else {
            itemBudget = parseInt(itemBudget, 10);
          }

          return total + itemBudget;
        }, 0);

        if (isNaN(budget)) {
          return '-';
        }
        return budget;
      },
      hours: function() {
        let hours = this.subTasks.reduce((total, item) => {
          if ('' === item.hours || 0 == item.hours) {
            return total;
          }

          return total + parseFloat(item.hours);
        }, 0);

        if (isNaN(hours)) {
          return '-';
        }
        return hours;
      },
    },
    methods: {
      addSubTask: function () {
        this.subTasks.push({
          id: '',
          title: '',
          note: '',
          budget: '',
          launched_at: '',
          completed_at: '',
          hours: ''
        });
      },
      removeSubTask: function (index) {
        this.subTasks.splice(index, 1);
      },
      inputName(index, name) {
        return form.methods.inputName.call(this, 'sub_tasks', index, name);
      },
    },
  }
</script>
