<template>
  <form method="post" :action="action">
    <input name="_method" type="hidden" value="PATCH" v-if="!isNew">
    <div v-html="csrf"></div>
    <site :sites='clientSites' name="client_site_id" v-model="task.client_site_id">Сайт клиента:</site>
    <div class="row" v-if="clientTaskTemplates.length">
      <div class="form-group">
        <label for="select-task-template">По шаблону</label>
        <select id="select-task-template" class="form-control" name="task_template_id" v-model="template_id" @change="taskTemplateSelect">
          <option v-for="taskTemplate in taskTemplates" :value="taskTemplate.id">{{ taskTemplate.title }}</option>
        </select>
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group required task-title" :class="{'has-error': errors.has('title')}">
        <label for="title">Название:</label>
        <input id="title" type="text" class="form-control" name="title" required v-model="task.title">
        <div class="help">Название задачи для внутреннего использования.</div>
        <span class="help" v-if="errors.has('title')">{{ errors.get('title') }}</span>
      </div>
      <div class="task-state-wrapper">
        <div class="form-group">
          <label>Статус:</label>
          <select class="form-control task-state" name="state" :class="taskStateCssClass()" v-model="task.state">
            <option class="task-state" v-for="state in states" :class="state.css_class" :value="state.key">{{ state.title }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group" :class="{'has-error': errors.has('description')}">
      <label for="description">Описание:</label>
      <textarea id="description" class="form-control task-description" name="description" rows="2" v-model="task.description"></textarea>
      <div class="help">Общее описание задачи для внутреннего использования.</div>
      <span class="help" v-if="errors.has('description')">{{ errors.get('description') }}</span>
    </div>
    <div class="form-group">
      <div class="form-group">
        <label>Валюта:</label>
        <div class="currency-radio form-inline">
          <label v-for="(currency, code) in currencies" :key="code">
            <input type="radio" :value="code" name="currency" v-model="task.currency">{{ currency.title }}
          </label>
        </div>
      </div>
      <div class="inline-wrapper budget"><label>Бюджет:</label>{{ formatAmount(budget, task.currency) }}</div>
      <div class="inline-wrapper hours"><label>Часов:</label>{{ hours }}</div>
      <div class="inline-wrapper hours"><label>Оплачено:</label>{{ formatAmount(payed, task.currency) }}</div>
    </div>
    <div class="form-group form-inline task-dates">
      <div class="form-group inline-wrapper">
        <div class="form-group">
          <label>Начата:</label>
          <input class="form-control launched-at" name="launched_at" type="date" v-model="task.launched_at">
        </div>
        <div class="form-group">
          <label>Завершена:</label>
          <input class="form-control completed-at" name="completed_at" type="date" v-model="task.completed_at">
        </div>
      </div>
    </div>
    <sub-tasks :init-sub-tasks="subTasks" :currency="task.currency" ref="subTasks"></sub-tasks>
    <payments :task-id="task.id" :init-payments='payments' :accounts='accounts' :currency="task.currency"></payments>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
  </form>
</template>

<script>
import {CURRENCIES} from '../../Money';
import SubTasks from './SubTasks';
import {Formatter, routeAdapter} from '../../mixins';

export default {
  name: 'TaskForm',
  mixins: [
    routeAdapter,
    Formatter,
  ],
  components: {
    SubTasks,
  },
  data() {
    return {
      task: this.initTask,
      subTasks: this.initSubTasks,
      payments: this.initPayments,
      template_id: '',
      errors: new Map(),
    };
  },
  props: {
    isNew: {
      type: Boolean,
      default: true,
    },
    initTask: Object,
    initSubTasks: Array,
    initPayments: Array,
    clientSites: Array,
    clientTaskTemplates: Array,
    states: Array,
    accounts: Object,
    csrf: String,
  },
  computed: {
    action() {
      if (this.isNew) {
        return route('client.task.store', {client: this.task.client_id});
      }
      else {
        return route('client.task.update', {client: this.task.client_id, task: this.task.id});
      }
    },
    taskTemplates() {
      let templates = [{id: '', title: '- Выберите шаблон -'}];
      for (let template of this.clientTaskTemplates) {
        templates.push(template);
      }

      return templates;
    },
    currencies() {
      return CURRENCIES;
    },
    budget() {
      let budget = this.subTasks.reduce((total, item) => {
        if ('' === item.budget || 0 === item.budget) {
          return total;
        }

        let itemBudget = item.budget.toString().replace(/\s/g, '').replace(',', '.');

        if (-1 !== itemBudget.indexOf('.')) {
          itemBudget = parseFloat(itemBudget);
        }
        else {
          itemBudget = parseInt(itemBudget, 10);
        }

        return total + itemBudget;
      }, 0);

      if (isNaN(budget)) {
        return '-';
      }
      return budget;
    },
    hours() {
      let hours = this.subTasks.reduce((total, item) => {
        if ('' === item.hours || 0 == item.hours) {
          return total;
        }

        return total + parseFloat(item.hours);
      }, 0);

      if (isNaN(hours)) {
        return '-';
      }
      return hours;
    },
    payed() {
      let total = this.payments.reduce((total, item) => {
        if ('' === item.amount || 0 == item.amount) {
          return total;
        }

        let itemAmount = item.amount.toString().replace(/\s/g, '').replace(',', '.');

        if (-1 !== itemAmount.indexOf('.')) {
          itemAmount = parseFloat(itemAmount);
        }
        else {
          itemAmount = parseInt(itemAmount, 10);
        }

        return total + itemAmount;
      }, 0);

      if (isNaN(total)) {
        return '-';
      }
      return total;
    },
  },
  methods: {
    taskStateCssClass() {
      let state = this.states.find(item => item.key === this.task.state);
      return state.css_class;
    },
    taskTemplateSelect() {
      let params = {
        client: this.task.client_id,
        template_id: this.template_id,
      };

      axios.get(route('client.tasks.create_by_template', params)).then((response) => {
        if ('success' === response.data.status) {
          let responseTask = response.data.task;
          this.task.title = responseTask.title;
          this.task.description = responseTask.description;
          this.task.currency = responseTask.currency;
          this.task.launched_at = responseTask.launched_at;
          this.task.task_template_id = responseTask.task_template_id;
          this.subTasks[0].budget = responseTask.sub_task.budget;
          this.subTasks[0].hours = responseTask.sub_task.hours;
        }
        else {
          this.error(response.data.msg);
        }
      });
    },
    addSubTask(event) {
      event.preventDefault();
      this.subTasks.push({
        id: '',
        title: '',
        note: '',
        budget: '',
        launched_at: '',
        completed_at: '',
        hours: '',
      });
    },
    removeSubTask: function (index) {
      this.subTasks.splice(index, 1);
    },
    addPayment: function (event) {
      event.preventDefault();
      this.payments.push({
        id: '',
        task_id: this.taskId,
        created_at: '',
        account_id: '',
        note: '',
        amount: '',
        rate: 1.00,
      });
    },
    removePayment: function (index) {
      this.payments.splice(index, 1);
    },
  },
};
</script>
