<template>
  <div class="tasks">
    <short-card v-for="task in tasks"
                :init-task="task"
                :key="task.id"
                @task-closed="taskClosed"></short-card>
  </div>
</template>

<script>
import ShortCard from './ShortCard';
import Payments from './Payments';
import Modal from '../Modal';
import {Formatter} from '../../mixins';

export default {
  name: 'Tasks',
  mixins: [
    Formatter,
  ],
  components: {
    Payments,
    ShortCard,
    Modal,
  },
  data() {
    return {
      tasks: this.initTasks,
    };
  },
  props: {
    initTasks: Array,
  },
  methods: {
    taskClosed(task) {
      this.tasks.splice(this.tasks.indexOf(task), 1);
    },
  },
};
</script>
