<template>
	<div class="task-template">
		<div>Название задачи: {{ template.title }}</div>
		<div v-if="template.client_site_id">Сайт клиента: {{site}}</div>
		<div v-if="template.description">Описание: {{template.description}}</div>
		<div>Бюджет: {{ formatAmount(template.budget, template.currency)}}</div>
		<div v-if="template.hours">Часы: {{ template.hours }}</div>
	</div>
</template>

<script>
  import {Formatter} from '../../mixins';

  export default {
    name: "TemplateView",
		mixins: [
      Formatter,
		],
		props: {
      template: Object,
			client: Object,
      clientSites: Array,
      placeholders: Object,
      modifiers: Object,
		},
		computed: {
      site() {
        if (this.template.client_site_id) {
          let site = this.clientSites.find(item => item.id == this.template.client_site_id);
					return site.url;
				}

        return 'Без сайта';
			}
		},
  }
</script>

