<template>
	<div class="task-template-form">
		<div class="row">
			<div class="form-group form-check">
				<input id="is-active" type="checkbox" class="form-check-input" v-model="template.is_active">
				<label class="form-check-label" for="is-active">активен</label>
			</div>
			<div class="form-group" v-if="clientSites.length">
				<site v-model="template.client_site_id" :sites="clientSites">Сайт клиента:</site>
			</div>
			<div class="form-group required" :class="{'has-error': errors.has('title')}">
				<label for="title">Название:</label>
				<input id="title" type="text" class="form-control" v-model="template.title" required>
				<div class="help"><p>Название задачи для внутреннего использования.</p><p>Допускаются <button class="btn-link" @click="showPlaceholdersTooltip=!showPlaceholdersTooltip">подстановочные переменные</button>.</p></div>
				<span class="help" v-if="errors.has('title')">{{ errors.get('title') }}</span>
			</div>
			<div class="form-group" :class="{'has-error': errors.has('description')}">
				<label for="note">Описание:</label>
				<textarea id="note" class="form-control" rows="2" v-model="template.description"></textarea>
				<div class="help"><p>Общее описание задачи для внутреннего использования.</p><p>Допускаются <button class="btn-link" @click="showPlaceholdersTooltip=!showPlaceholdersTooltip">подстановочные переменные</button>.</p></div>
				<span class="help"  v-if="errors.has('description')">{{ errors.get('description') }}</span>
			</div>
			<div class="form-group">
				<div class="currency">
					<label>Валюта:</label>
					<div class="currency-radio form-inline">
						<label v-for="(currency, code) in currencies" :key="code">
							<input type="radio" :value="code" v-model="template.currency">{{currency.title}}
						</label>
					</div>
				</div>
				<div class="budget-hours-wrapper">
					<div class="inline-wrapper">
						<div class="form-group required">
							<money id="amount" size="10" v-model="template.budget" :currency="template.currency">Бюджет</money>
						</div>
						<div class="form-group">
							<label>Часов:</label>
							<input class="form-control hours" type="number" step="0.01" v-model="template.hours">
						</div>
					</div>
					<div class="help">Бюджет и часы основной подзадачи.</div>
				</div>
			</div>
		</div>
		<modal v-if="showPlaceholdersTooltip" @closed="showPlaceholdersTooltip=false" class="modal-tooltip">
			<template #body>
				<fieldset>
					<legend>Подстановочные переменные</legend>
					<div v-for="(description, placeholder) in placeholders" :key="placeholder">
						<span><strong v-html="placeholder"></strong></span>
						<span>{{description}}</span>
					</div>
				</fieldset>
				<fieldset>
					<legend>Модификаторы</legend>
					<div v-for="(description, modifier) in modifiers" :key="modifier">
						<span><strong v-html="modifier"></strong></span>
						<span>{{description}}</span>
					</div>
				</fieldset>
			</template>
		</modal>
	</div>
</template>

<script>
  import {CURRENCIES} from '../../Money';
  import Money from '../Money';
  import Modal from "../Modal";
  import Site from "../Site";

  export default {
    name: "TemplateForm",
    components: {
      Site,
      Money,
      Modal,
		},
		data() {
      return {
        template: this.initTemplate,
        showPlaceholdersTooltip: false,
        errors: new Map(),
			};
		},
		props: {
			initTemplate: Object,
			client: Object,
      clientSites: Array,
      placeholders: Object,
      modifiers: Object,
		},
		computed: {
      currencies() {
        return CURRENCIES;
			},
		},
		methods: {
			save() {
        this.$emit('save', this.template);
			}
		}
  }
</script>
