<template>
	<div class="drop-zone" :class="dropZoneClass ? dropZoneClass : ''"
		@click="click()"
		@dragover="setDragOver()"
		@dragleave="resetDragOver()"
		@drop="resetDragOver()"
	>
		<span class="label">Перетащите файлы сюда.</span>
	</div>
</template>

<script>
  export default {
    name: "DropZone",
    data() {
      return {
        dropZoneClass: null,
      };
    },
		methods: {
      setDragOver() {
        this.dropZoneClass = 'dragover';
      },
      resetDragOver() {
        this.dropZoneClass = null;
      },
      click() {
        this.$emit('clicked');
			}
		},
  }
</script>
